[2016-02-19 00:21] justinfagnani opened #3 "Add lint command"
Blocked on https://github.com/PolymerLabs/polylint/issues/100

[2016-02-19 00:26] justinfagnani opened #4 "Add test command"

[2016-02-19 00:26] justinfagnani opened #5 "Add build command"

[2016-02-19 00:27] justinfagnani opened #6 "Add serve command"
Started in #1

[2016-02-19 00:28] justinfagnani opened #7 "Add init command"

[2016-02-23 22:11] #6 closed

[2016-02-23 22:11] #4 closed

[2016-02-24 17:44] #3 closed

[2016-03-02 19:39] samccone opened #11 "Optionally remove whitespace after vulcanization of css"
As the vulcanize process inlines the JS and CSS for elements, the resulting elements.vulcanized.html contains several hundred KB of empty space. By using gulp-minify-inline on the vulcanized file, the size goes from 447K down to around 267K for the default install. Even with gzipped calls, this can be quite a bit of pageload reduced.

ref:
https://github.com/PolymerElements/polymer-starter-kit/pul

[2016-03-02 21:24] justinfagnani commented on #11
It's going to be fun figuring out the right places for these issues :)

polybuild might be the right place for this one, assuming it sticks around. Of course, it may be easier to collect all the command line related things here and deprecate all the other command line interfaces.

[2016-03-02 21:24] justinfagnani commented on #11
Blocked on #5

[2016-04-04 20:09] justinfagnani opened #13 "Document project structure"
This is important for other tools that want to be compatible with polytool projects.

[2016-04-14 15:24] gauntface opened #15 "sw-precache"
cc @robdodson

## Some notes on sw-precache as requested
- It's a step that realistically has to happen at the end of a set of changes as it scans for files in a build location and creates a Service worker to cache those assets
- Run time cache is possible through a set of regex for urls and caching mechanisms
- During development you can pass in a variable to prevent sw-precache for handling any

[2016-04-14 22:05] justinfagnani commented on #15
@gauntface Does the scanning need to happen against the filesystem, or could we hook it into a gulp stream? I've set up vulcanize so that it can read from a stream, and it'd be nice to plug this into the pipeline post-vulcanize.

[2016-04-15 08:47] gauntface commented on #15
@justinfagnani It's reads directly from the filesystem based on paths / globs you give it.

[2016-04-16 22:38] robdodson opened #16 "Ability to measure the size of a vulcanized bundle"
Per discussion on polymer-eng. It'd be cool if there was a command to give me the per element size in my vulcanized bundle. That way I can figure out who the main offenders are and try to lazy load them

[2016-04-19 03:58] robdodson opened #17 "Rename to `poly`"
`poly` is so much nicer to type.
![giphy](https://cloud.githubusercontent.com/assets/1066253/14627335/38c50d1e-05a8-11e6-9651-6a265f7bb69c.gif)

[2016-04-19 14:40] robdodson opened #18 "`serve` should open default browser"
Browsersync (which PSK1 uses) has this awesome feature when you run the local server it also opens the default browser and populates the URL. https://www.browsersync.io/docs/options/#option-open

I would loooooooove if polytool serve did this so i didn't have to copy/paste from terminal

[2016-04-19 14:53] abdonrd commented on #18
I would love too! 😁

PS: The `polyserve` already has the `-o` option.

[2016-04-19 15:10] robdodson commented on #18
I see. I tried `polytool serve -o` but that didn't open the browser so maybe the argument isn't being passed. Either way I'd love if it were the default

[2016-04-19 15:16] abdonrd commented on #18
Totally! :)

[2016-04-26 22:20] justinfagnani opened #22 "Add platform plugin abstraction"
For commands with target specific variants, like build, deploy, we'll need a plugin style abstraction.

The goal is to be able to have command variants like `polytool build firebase` which generate specialized build artifacts, or `polytool deploy firebase` which knows how to deploy...

These won't be actual plugins for a while yet, so we can iterate on the interface. Maybe something like this to s

[2016-04-27 02:03] justinfagnani opened #25 "Add depcheck to tests"
To avoid publishing without proper dependencies installing.

[2016-04-27 02:04] justinfagnani opened #26 "Add http2-push-manifest integration to build/deploy"
See https://github.com/GoogleChrome/http2-push-manifest

[2016-04-27 02:05] justinfagnani opened #27 "Add new init tempaltes"
app-layout and others...

[2016-04-27 02:07] justinfagnani commented on #7
Fixed in #10

[2016-04-27 02:07] #7 closed

[2016-04-27 02:07] justinfagnani commented on #5
Fixed in #14

[2016-04-27 02:07] #5 closed

[2016-04-27 19:40] FredKSchott commented on #18
Just dug into this a bit, `-o` needs an argument to work.

So `polytool serve --open "index.html"` is equivalent to `polyserve -o`

[2016-04-27 21:14] FredKSchott commented on #18
Ah, it actually depends on your version of polyserve. Newer versions won't do anything unless you specify the path.

So: `polytool serve --open "index.html"` =  `polyserve --open "index.html"` (for version > 0.8) =  `polyserve --open` (for version < 0.8)

[2016-04-28 08:17] abdonrd opened #31 "Create v0.0.6 git version tag"
In the package.json, we have `0.0.6`, but the last git tag (and npm version) is the `v0.0.5`.

[2016-04-28 21:30] justinfagnani commented on #31
Fixed!

[2016-04-28 21:30] #31 closed

[2016-04-28 21:31] abdonrd commented on #31
Thanks! :)

[2016-04-28 21:32] abdonrd commented on #31
Thanks! And remember the `npm publish`. :)

[2016-04-28 21:44] FredKSchott commented on #31
This will all be streamlined soon :)
On Thu, Apr 28, 2016 at 2:32 PM Abdón Rodríguez Davila <
notifications@github.com> wrote:

[2016-04-29 18:14] #25 closed

[2016-04-29 18:31] justinfagnani opened #32 "Add deploy command"
The basic command should be:

    polytool deploy <target>

Where target might be `gh-pages`, `app-engine`, `firebase`, etc.

It looks like wrapping https://www.npmjs.com/package/ship is a good way to start. They have a `gh-pages` deployer and a deployer abstraction. There are no App Engine or Firebase deployers yet, those there are issues to track them: [app-engine][1] [firebase][2].

If we creat

[2016-04-29 18:57] kaycebasques opened #33 "Error: only one instance of babel-polyfill is allowed"
FYI upon installation (`npm install -g polytool`... I'm using `nvm` so `sudo` wasn't necessary) and running `polytool` I immediately encountered the following error:

[code]

It's probably just something in my environment but I'll just post my findings along the way for anyone else that gets in the same boat.

[2016-04-29 19:12] FredKSchott commented on #32
@justinfagnani contributing these into the ship repo in any language would be preferable to owning them all by ourselves.

Starting work on this now! 💃💃💃

[2016-04-29 19:17] kaycebasques commented on #33
I updated to the latest stable Node.js version (`nvm install 4.4.3 && nvm use 4.4.3`... check https://nodejs.org/en/ for the number of the latest stable version) and the issue went away. I'm getting a different issue now but I'm assuming they're not related.

[2016-04-29 19:17] #33 closed

[2016-04-29 20:06] kaycebasques opened #34 "module.js cannot find module 'command-line-commands'"
On a fresh install of `npm` (v6.0.0) using `nvm` (`nvm install 6.0.0`) I encountered the following error after running `polytool help`:

[code]

This is probably not related to `polytool` but I'll post my findings here in case anyone else encounters similar problems.

[2016-04-29 20:11] kaycebasques commented on #34
solution: re-installing polytool  (`npm install -f polytool`) did the trick

This [SO thread](http://stackoverflow.com/questions/9023672) got me on the right path. I don't know exactly what went wrong, but I noticed that the `polytool` install process involved a lot of dependencies, so my hunch is that the install process took too long, or some dependency took too long to download, or something go

[2016-04-29 20:11] #34 closed

[2016-04-29 20:15] kaycebasques opened #35 "`polytool` should alias to `polytool help`"
Currently when you run `polytool` with no commands it just prints `must specify a command`. It's common practice to just print out the help command in this scenario.

[2016-05-01 21:16] TimvdLippe commented on #11
I have had a good experience with https://github.com/kangax/html-minifier Seemed to be working with Polymer, using the following configuration:

[code]
(see https://github.com/AreaFiftyLAN/lancie-frontend/blob/master/gulpfile.js#L107-L117)

[2016-05-03 05:42] justinfagnani commented on #11
Thanks for the info @TimvdLippe! We'll be adding minification very soon.

[2016-05-03 17:44] kaycebasques opened #39 "display error message when element name does not include a dash"
1. polytool init
1. select `element`
1. type `myelement`
1. press `enter` key

Result: `polytool` correctly rejects the name, but does not indicate why the name was rejected.

Expected: `polytool` rejects the name and prints an error message indicating that the element name was rejected because the custom elements spec requires that element names include a dash

[2016-05-03 18:20] FredKSchott commented on #39
This is an issue with the generator, polytool just defers to that.

Moved to https://github.com/PolymerLabs/generator-polymer-init/issues/7

[2016-05-03 18:20] #39 closed

[2016-05-03 23:36] kaycebasques opened #40 "print warning if bower is not installed after initializing an element"
When bower is available globally, `polytool` conveniently installs all of the bower dependencies after generating the element files and directories. When bower's not available, `polytool` just silently skips this step. It should, instead, print a warning indicating that the element's dependencies have not been installed because `bower` is not available.

[2016-05-04 01:09] justinfagnani commented on #40
@addyosmani do you know if there's an easy way to get Yeoman to do this? I'm just calling `this.bowerInstall()`

[2016-05-04 01:12] justinfagnani opened #41 "Rename repo to polymer-cli"

[2016-05-04 16:39] FredKSchott commented on #41
:( RIP polytool

[2016-05-04 21:43] kaycebasques commented on #27
There should also be a lightweight element init template for app projects. Something that just asks for an element name (e.g. `my-el`) and creates the barebones files under `src/` (e.g. `src/my-el/my-el.html`).

[2016-05-04 21:44] justinfagnani commented on #27
Yes, this is the fabled `polytool gen` command

[2016-05-05 20:03] kaycebasques opened #44 "canonical location for sub-elements in an element project"
Suppose that I'm building an element for distribution, which itself is composed of smaller elements that are specific to this element. I have no plans to use the smaller elements in any context outside of this element.

E.g. my top-level element is `chatbox-widget` which is composed of `chatbox-message` elements.

Where does `polytool` expect `chatbox-message` to reside within my element project?

[2016-05-06 05:09] justinfagnani commented on #44
Top-level seems to be how it's done in the PolymerElements org. I think the reason is so that "sub-elements" are also easily importable.

I think this is consistent enough to go ahead and doc across polytool and other docs, but you may want to check in with the broader team.

[2016-05-09 18:34] justinfagnani opened #56 "`lint` with no args doesn't display a helpful message"
This doesn't make it clear that a file name is needed:

[code]

[2016-05-09 18:50] justinfagnani opened #57 "`init` may need to run `npm install`"
If a template has a gulpfile, `build` will attempt to load it, causing a module not found error if gulp hasn't been installed yet.

[2016-05-09 18:53] justinfagnani opened #58 "Progress indicator for build"

[2016-05-09 22:11] tjsavage opened #63 "Docs: might add heads-up in README to upgrade your `node` version if you're getting an error when you run"

[2016-05-09 22:18] justinfagnani commented on #63
Yes, we need to publish supported versions.

Our target is current LTS, so 4.4.4.

[2016-05-09 22:24] abdonrd opened #64 "Fix deprecated warnings"
At `npm install -g polymer-cli`:

<img width="850" alt="screen shot 2016-05-10 at 00 23 26" src="https://cloud.githubusercontent.com/assets/1007051/15129963/7e175644-1645-11e6-9765-63d6d6dc1a32.png">

[2016-05-10 00:07] justinfagnani opened #67 "build: bundle shared resources with app shell"
This removes a round trip to load shared-bundle.html

[2016-05-10 00:08] justinfagnani opened #68 "build: Strip HTML comments"

[2016-05-10 00:09] justinfagnani opened #69 "Importing gulfiles that import Hydrolysis causes error from babel-runtime"

[2016-05-10 00:28] #68 closed

[2016-05-10 00:28] azakus commented on #67
Maybe fixed by #70

[2016-05-10 00:44] garlicnation opened #72 "Unbundled build: insert link headers"
The `main` file should have `<link rel="prefetch"` tags added for each file in the shared bundle and main app files.

Each additional `bundle` should have `<link rel="import"` tags added for each file that they transitively depend on that isn't already prefetched in `main`

[2016-05-10 16:17] FredKSchott commented on #63
It's common to define which node.js versions you support in your
package.json.
On Mon, May 9, 2016 at 3:18 PM Justin Fagnani <notifications@github.com>
wrote:

[2016-05-10 17:05] FredKSchott commented on #64
Digging through these now. All of these are dependencies of our dependencies so we might not be able to get rid of all of them right away.

[2016-05-10 17:15] FredKSchott commented on #64
`graceful-fs`: Warning is preemptive and refers only to v7 of Node (unreleased and not yet scheduled). People are slowly upgrading to the newest version. We'll keep an eye on this.
`lodash`: Caused by an older version of vinyl.js, which is needed by gulp. Upgrading is a non-trivial task for them. This is planned to be fixed in their next major version. https://github.com/gulpjs/gulp/issues/1604
`j

[2016-05-10 17:20] FredKSchott commented on #35
Fixed in #59

[2016-05-10 17:20] #35 closed

[2016-05-10 17:22] FredKSchott commented on #57
A quick fix here would just be to check if a node_modules folder exists in the directory.

[2016-05-10 17:24] #41 closed

[2016-05-10 17:31] sorvell commented on #72
Actually the additional bundles should have `<link rel="import">`. We only want to use prefetch in the `main` entry point because it's got an async import.

[2016-05-10 17:37] justinfagnani commented on #57
It won't, because `npm i` will have never been run. `package.json` will exist though.

[2016-05-10 18:21] sorvell opened #75 "sw-precache does not include all entry points"
It looks like this happens only when generating a fresh build and not when a previous build already exists.

[2016-05-10 18:23] FredKSchott commented on #57
Sorry i should have been more clear. `polymer build` could do a quick check to see if the `node_modules/` directory exists in the project. If it does not, it could show a helpful message or even run an `npm install` itself.

[2016-05-10 20:41] abdonrd commented on #64
@FredKSchott thanks for the digging!

[2016-05-10 20:50] #64 closed

[2016-05-10 20:50] FredKSchott commented on #64
np!

[2016-05-10 23:07] #75 closed

[2016-05-10 23:28] #67 closed

[2016-05-11 00:37] FredKSchott opened #79 "CLI is slowwwwwww"
Lets see if we can get startup time down at all.

[code]
[code]
(Note that these two commands are essentially no-ops)

[2016-05-11 00:50] FredKSchott commented on #79
Looks like all of our time is coming from loading the different commands, specifically `init`, `lint`, and `test`.

[code]

[2016-05-11 15:29] abdonrd opened #83 "Add index.html as default polymer lint --input"
When we runs `polymer lint`, we get:

![screen shot 2016-05-11 at 17 24 31](https://cloud.githubusercontent.com/assets/1007051/15186427/46b7716c-179d-11e6-968e-e79bb2d98441.png)

Like all projects have a `index.html`...
We can add `index.html` as default input file? Like `polymer lint -i index.html`:

![screen shot 2016-05-11 at 17 27 39](https://cloud.githubusercontent.com/assets/1007051/15186539

[2016-05-11 17:37] #79 closed

[2016-05-11 18:00] FredKSchott commented on #79
After #81 & #82:
[code]

[2016-05-11 18:04] FredKSchott commented on #63
@justinfagnani & @tjsavage we now throw a warning when installing on a <v4 version, that says polymer-cli needs node v4.0 or higher. Is this enough or do we still want something in the README?

[2016-05-11 18:06] FredKSchott commented on #58
This seems like a viable library to get us started: https://github.com/tj/node-progress

[2016-05-11 18:13] tjsavage commented on #63
Perfect. Might just add a line in the README too just to potentially save people the step of Install > Error > Update

[2016-05-11 18:19] tjsavage opened #84 "polytool init && polytool serve && open http://localhost:8080/components/my-app/ not getting what I expect"
Repro:

- init a basic application with polytool init (name it my-app)
- run polytool serve
- navigate to http://localhost:8080/components/my-app/ to see re-usable components

When I navigate to this URL I just see the basic homepage - I would expect to see docs for my components?

[2016-05-11 19:22] abdonrd commented on #84
I think you don't need to visit this link if you created an application. It is only for alone reusable elements.

[2016-05-11 19:25] justinfagnani commented on #84
I think this is happening because of the shell serving behavior. `/my-app/` doesn't have an index.html, so the shell is served.

We should exclude `/components/`, `/bower_components/`, and `/node_modules/` from the shell serving behavior.

[2016-05-11 19:37] #72 closed

[2016-05-11 22:09] azakus opened #86 "Entrypoints include themselves in unbundled build"
entrypoints list themselves as dependencies from the bundler

[2016-05-11 22:19] #86 closed

[2016-05-11 22:50] arthurevans opened #88 "Add new init template for element tutorial?"
Can we make a template for this so we can do a completely CLI-based workflow for the tutorial? The repo is:

https://github.com/googlecodelabs/polymer-first-elements

[2016-05-11 22:54] justinfagnani opened #89 "Don't show error on no sw-precache-config.js"
We should check for file existence, rather than try/catch.

[2016-05-11 23:38] kaycebasques opened #91 "`polymer build` on app project throws errors"
I'm unclear as to how I'm supposed to use `polymer build` in combination with the app project. In the scenarios below, assume that I just initialized an app project.

Scenario one:

[code]

Scenario two:

[code]

Scenario three:

[code]

[2016-05-12 00:20] #89 closed

[2016-05-12 00:22] azakus opened #92 "Test and validate arbitrary combinations of flags"
- [x] one endpoint
- [x] one endpoint + shell
- [x] one endpoint + fragments
- [x] one endpoint + shell + fragments

[2016-05-12 00:23] azakus commented on #91
Closing for metabug #92

[2016-05-12 00:23] #91 closed

[2016-05-12 00:43] justinfagnani commented on #92
The valid combinations I see:

  1. Just main. No laziness, no path-based routing, everything bundled into one file
  2. Main + shell: For path-based routing. main is not bundled, shell it. main is small because it will be served from many URLs
  3. Main + shell + entrypoints: all the laziness and bundling
  4. Just entrypoints? Bundled, multi-page app?

[2016-05-12 00:48] justinfagnani opened #93 "Add config file for build settings"

[2016-05-12 06:17] abdonrd commented on #88
It will be awesome. In the Polytechnics some people don't want to use the deprecated Chrome Dev Editor` (it clone and install the dependencies).

[2016-05-12 12:19] Geoffrey-Pliez opened #94 "Arrow keys don't work"
Hi,

I don't know select application in 'polymer init' command because arrow keys doesn't work.
I'm on Windows and I try PowerShell and CMD terminal.
am I the only one to meet it ?

Thanks.

[2016-05-12 13:33] abdonrd commented on #94
In OSX is working for me.

[2016-05-12 17:23] FredKSchott opened #95 "Logging"
For our CLI logging, here are the log levels & flags I’m planning to move forward with. Please comment with feedback, if any.

**Levels:**
`error` (error occurred, we're probably going to exit now)
`warn` (something odd or sub-optimal happened. We'll keep going but check this out)
`info` (normal output for the user)
`debug` (granular, for debugging purposes)

**CLI Behavior & Flags:**
default beha

[2016-05-12 19:42] kevinpschaaf opened #98 "`polymer serve` should only serve app shell if 404'ing URL does not end with file extension"
The current simple logic to serve the app shell (index.html) for pretty URL's by sending any 404 to the app shell should be tightened a little to avoid really confusing errors:

Use case: if you import an HTML Import that you haven't properly bower installed, you end up getting the `index.html` which will be evaluated, and can lead to strange errors when the scripts in index.html run again.

Solut

[2016-05-12 22:17] justinfagnani opened #102 "New project configuration names"
Right now we use `main`, `shell`, and `entrypoints` to refer to different parts of an app. `main` and `entrypoints` are fairly vague and a little misleading.

Based on discussion, the new names are:

  * `entrypoint`: The main entrypoint of the application which is served from every valid route. This file should be very small, since it will be served from different URLs and be harder to cache. All

[2016-05-12 22:19] justinfagnani commented on #102
CC @arthurevans @azakus @garlicnation @FredKSchott

[2016-05-12 22:58] justinfagnani commented on #15
Fixed by #48 #49 etc.

[2016-05-12 22:58] #15 closed

[2016-05-12 23:02] justinfagnani commented on #22
Fixed by #46

[2016-05-12 23:02] #22 closed

[2016-05-13 00:51] justinfagnani commented on #98
Fixed by #105

[2016-05-13 00:52] #98 closed

[2016-05-13 03:55] tjsavage opened #106 "Docs: We should be sure to link from the README to the http2 reference server"

[2016-05-13 04:05] tjsavage opened #107 "Rename polykart template to "shop-template""

[2016-05-13 17:22] #63 closed

[2016-05-13 17:24] justinfagnani commented on #102
Fixed in #108

[2016-05-13 17:24] #102 closed

[2016-05-13 17:25] justinfagnani commented on #93
Fixed by #103

[2016-05-13 17:25] #93 closed

[2016-05-13 17:33] justinfagnani commented on #44
@kaycebasques is this enough info?

[2016-05-13 17:44] FredKSchott opened #110 "[meta] add logging to codebase"
Commands in need of logging
- [x] init
- [X] build @fredkschott
- [X] Help
- [x] Lint @fredkschott (needed inside of polylint)
- [x] Serve @fredkschott (needed inside of polyserve)
- [x] Test @fredkschott (needed inside of WCT)

[2016-05-13 17:45] #95 closed

[2016-05-13 17:46] FredKSchott commented on #110
@justinfagnani @azakus @garlicnation if any of you guys are doing enough work to any of these commands that I shouldn't touch them, let me know asap.

[2016-05-13 18:04] azakus opened #111 "Deduplicate dependency stuffing into fragments and entrypoints"
Due to a recent refactor, it seems we put multiple dependency links into entrypoints and fragments.

[2016-05-13 18:25] justinfagnani opened #114 "`serve` and `lint` are broken"

[2016-05-13 18:26] #114 closed

[2016-05-13 18:56] kevinpschaaf opened #115 "`build` generates precache entries for non-dependencies in the `unbundled` build"
e.g.

[code]

are showing up in `PrecacheConfig`.

[2016-05-13 19:21] kevinpschaaf opened #116 "`build` generates precache entries for granular dependencies in the `bundled` build"
The precache list should only contain the shell and any bundled fragments (shards), none of the granular dependencies.

I'm seeing this for a simple app:

[code]

[2016-05-13 19:29] kaycebasques opened #118 "multiple definitions have same name in polymer serve v0.3.0"
Working in top-level directory of a fresh app project:

[code]

[2016-05-13 19:38] #111 closed

[2016-05-13 19:42] justinfagnani commented on #118
Fixed in #113

[2016-05-13 19:42] #118 closed

[2016-05-13 19:44] justinfagnani commented on #13
@kaycebasques can I assign this to you, and/or is it a duplicate of #44? Where should this documentation live?

[2016-05-13 19:45] justinfagnani commented on #17
Renamed to `polymer` in #41 per managerial discretion :) Users can alias to something sorter locally.

[2016-05-13 19:45] #17 closed

[2016-05-13 19:47] justinfagnani commented on #18
Fixed in polyserve.

[2016-05-13 19:47] #18 closed

[2016-05-13 19:48] justinfagnani commented on #40
This is related to #57

[2016-05-13 19:48] kaycebasques opened #120 "show status info and hide bower install output during polymer init"
After init'ing an element project, Polymer CLI installs all the Bower dependencies. One, I think Polymer CLI should give a status update saying `Installing dependencies via Bower...`. Two, I think the Bower output itself should be hidden. The user can choose to view it by specifying a `--verbose` flag (or, during the init process, Polymer CLI can ask `View verbose output while Polymer CLI initiali

[2016-05-13 19:49] justinfagnani commented on #58
Moved to milestone 1.1. Some logging is enough for 1.0

[2016-05-13 19:50] justinfagnani commented on #88
I think we decided to move this to 1.1

[2016-05-13 19:51] justinfagnani commented on #94
@Geoffrey-Pliez I'm not sure what we can do here since we've completely delegate to yeoman by this point. We don't have any keyboard input handling code at all. Can you verify that this is still an issue?

[2016-05-13 20:04] #56 closed

[2016-05-13 20:06] abdonrd commented on #120
I'm agree! :)

[2016-05-13 20:06] kaycebasques commented on #13
@justinfagnani sure, assign it to me. We can mention it in both the README and the Polymer CLI doc.

[2016-05-13 20:07] justinfagnani commented on #13
Ugh, can't assign... <runs off to settings>

[2016-05-13 20:09] justinfagnani commented on #84
Fixed in polyserve, which now doesn't do the shell redirect for `.html` files.

[2016-05-13 20:09] #84 closed

[2016-05-13 20:10] justinfagnani commented on #83
Fixed by #119

[2016-05-13 20:10] #83 closed

[2016-05-13 20:15] kaycebasques commented on #44
@justinfagnani yes, thanks

[2016-05-13 20:23] justinfagnani commented on #120
We're adding a bunch of logging to all the commands today. @FredKSchott is going to add a prompt for bower install. Hopefully we can suppress Bower's output as well.

[2016-05-13 20:45] FredKSchott commented on #40
we should look into switching from .bowerInstall() to .installDependencies() instead
see: http://yeoman.io/generator/Base.html
its a bit smarter

[2016-05-13 20:54] #57 closed

[2016-05-13 22:13] FredKSchott commented on #120
To your first point, it actually currently does log that. It just gets immediately pushed off the screen by all the bower install output :)

To your second, bower doesn't support a cleaner progress bar like npm does. As far as I can see our choice is between the current output or nothing at all (via `--quiet`). The current output is definitely noisy, but it an error occurs its helpful to be able t

[2016-05-13 22:52] justinfagnani commented on #107
Fixed by #123

We still have some name and URL changes to do in the actual template.

[2016-05-13 22:52] #107 closed

[2016-05-13 23:42] FredKSchott opened #124 "`polymer init application && polymer build` = error"
I get:
[code]

Error message should be friendlier.

[2016-05-14 23:06] robdodson opened #127 "polymer init > shop, ENOENT: no such file or directory, open 'token'"
Full trace

[code]

[2016-05-14 23:06] robdodson commented on #127
Btw it seems weird to choose a template "basic or shop" and then if you choose basic it asks you to choose "application or element".

[2016-05-15 20:29] azakus opened #128 "Unbundled build is missing fragments and shell in sw-precache"

[2016-05-15 20:37] #128 closed

[2016-05-15 22:22] justinfagnani commented on #127
Right now this template requires a github token with access to repos in a file names `token`. This is temporary.

[2016-05-15 22:23] justinfagnani commented on #127
Regarding the basic/shop, and the element/application split, I agree. This is a result of the basic generator being just one generator, which then prompts for a style of project. I think I'm going to split that generator, as well as bring it into the polymer-cli repo so it's easier to iterate on.

[2016-05-15 22:24] #127 closed

[2016-05-15 22:26] justinfagnani opened #130 "Make a reusable git download init template"
Given a GitHub repo URL, download and unpack the latest release into the current folder.

[2016-05-15 23:32] #130 closed

[2016-05-16 03:21] addyosmani commented on #120
Some CLIs also expose the opposite of a `--quiet` (i.e default to quiet and expose `--verbose` for those that want more detailed logging information). Imo, it's better to output the full log because beginners are especially prone to not discovering detailed logs until it's pointed out to them.

[2016-05-16 03:23] addyosmani commented on #116
Without taking a look at the source, it appears like we might be running precache against a full directory here (common with precache) vs being very explicit about what to cache - I'd suggest a static list of shell/other resources + minimal globs for everything else that's needed. You don't want to stuff too much into the Cache API :)

[2016-05-16 03:26] addyosmani commented on #94
@Geoffrey-Pliez Could you let us know if you're also experiencing this issue with a typical Yeoman generator? (`npm install -g yo generator-webapp && yo webapp`). We test `yo` pretty heavily on Windows and all the latest releases shouldn't have issues with keyboard navigation at prompt time (we use inquirer for our prompts).

[2016-05-16 03:50] justinfagnani commented on #116
@addyosmani We pass an explicit list built from static analysis. Here we're just including too many dependencies, when in the bundled version doesn't require them.

[2016-05-16 03:51] justinfagnani commented on #120
For `--quite` I'd like to literally log nothing to the console, for tests and use by other shell tools. The default level should log plenty of information. `--verbose` will be really a lot.

[2016-05-16 07:56] Geoffrey-Pliez commented on #94
@justinfagnani  @addyosmani  I did a new try and it's still the same.
I know also the issue with yeoman generator.
But I try also on another PC and it's work.
So the Issue is probably due to Windows build 14xxx from Windows insider Program

[2016-05-16 16:10] sorvell opened #133 "polymer serve 'path' does not serve from path"
Instead this serves from the current directory.

[2016-05-16 17:59] kaycebasques opened #135 "`polymer init shop` and `polymer init prpl-demo` throw errors"
prpl-demo:
[code]
shop:
[code]

[2016-05-16 19:19] azakus opened #138 "Inserting additional links (prefetch and import) should be optional"

[2016-05-16 20:03] garlicnation opened #139 "lint async files"
- [ ] hydrolysis.Analyzer.analyze takes an `additionalImports` argument
- [ ] polylint pipes through `additionalImports`
- [ ] polymer-cli sets `additionalImports` based on config file

[2016-05-16 21:19] azakus opened #141 "External scripts and styles are not represented in sw-precache list"

[2016-05-16 22:30] justinfagnani opened #143 "test command is broken"

[2016-05-16 22:46] #133 closed

[2016-05-16 23:27] justinfagnani commented on #116
Fixed by #100 which probably hadn't made it to the release this bug was reported against.

[2016-05-16 23:27] #116 closed

[2016-05-16 23:29] justinfagnani commented on #115
Fixed by #100

[2016-05-16 23:29] #115 closed

[2016-05-17 00:04] #138 closed

[2016-05-17 00:13] #92 closed

[2016-05-17 00:50] justinfagnani commented on #143
Fixed in #134

[2016-05-17 00:50] #143 closed

[2016-05-17 04:34] azakus commented on #124
Seems fixed as of #136

[2016-05-17 04:34] #124 closed

[2016-05-17 06:13] justinfagnani commented on #135
Right now you need a github token with repo access stored in a file named `token`. This is temporary.

[2016-05-17 06:13] #135 closed

[2016-05-17 06:20] justinfagnani commented on #27
Closing until we have actual templates to add.

[2016-05-17 06:20] #27 closed

[2016-05-17 06:21] #44 closed

[2016-05-17 06:21] justinfagnani commented on #13
Final action item wrt to this issue is to add basic app structure docs to the readme.

[2016-05-17 06:22] justinfagnani commented on #94
Well, I'm going to close this for now. If we get a reproduction that's polymer-cli specific we can re-open.

[2016-05-17 06:22] #94 closed

[2016-05-17 06:26] justinfagnani commented on #40
Since we're just delegating to Yeoman here, I think we can close for now. If `installDependencies` isn't working well enough, or we have some specific different behavior we want to implement, we can open again.

[2016-05-17 06:26] #40 closed

[2016-05-17 16:30] robdodson opened #153 "Hooks for image optimization, copy, and ES2015"
There are a handful of things I'd like to do to get PSK to play nice with the CLI. These include image opt, copying static files (fonts, json files, etc), and ideally a hook to transform JS but that can come later.

@justinfagnani asked I open an issue to discuss

[2016-05-17 16:41] justinfagnani opened #154 ""Ignoring duplicate element definition""
Seems to be causing double-loading in apps as well.

[2016-05-17 17:54] #120 closed

[2016-05-17 18:03] #154 closed

[2016-05-17 18:30] #11 closed

[2016-05-17 18:47] justinfagnani commented on #110
Seems fixed enough for now. We need to visit all of our libraries soon.

[2016-05-17 18:47] #110 closed

[2016-05-17 18:48] justinfagnani commented on #106
Closing for now, until the reference server is available.

[2016-05-17 18:48] #106 closed

[2016-05-17 18:48] FredKSchott commented on #110
Haha you just beat me to it. Just filed the last PR in WCT

[2016-05-17 19:36] azakus opened #158 "serve -o should have obvious defaults"
element template: `element-name.html`
app template: `index.html`

[2016-05-17 21:20] FredKSchott commented on #32
To update this ticket, I wasn't able to spend much time on this. Unassigning from myself for now until we can prioritize for v1.1.

[2016-05-17 21:47] azakus commented on #158
Depends on https://github.com/PolymerLabs/polyserve/pull/95

[2016-05-17 21:54] azakus opened #163 "Update dependencies"
`command-line-commands` and `typings` both have rev'd major breaking versions

[2016-05-17 22:05] FredKSchott commented on #13
@justinfagnani was this closed by https://github.com/Polymer/polymer-cli/pull/159?

[2016-05-17 22:07] justinfagnani commented on #13
Yep

[2016-05-17 22:07] #13 closed

[2016-05-17 22:08] #158 closed

[2016-05-17 22:09] #141 closed

[2016-05-18 18:28] garlicnation opened #165 "absolute and relative paths should be normalized"
Input paths should be a mix of absolute and relative.
In polymer-cli, paths should be normalized.
Output paths should be absolute for endpoints and relative for fragments by default, but any combination of absolute and relative should be possible with configuration.

[2016-05-19 02:13] cdata opened #166 "Feature request: autogenerate Web App Manifest"
_As a Polymer CLI user,
when I use `polymer init` to start a new app,
I want the Polymer CLI to generate a [Web App Manifest](https://www.w3.org/TR/appmanifest/),
so that the default scaffolds are one step closer to a true PWA._

Polymer CLI already has a lot of the information necessary to generate a Web App Manifest. It would be really cool if I got one for free when I ran `polymer init`, and if

[2016-05-19 05:46] oneezy opened #167 "ERROR: polymer init app-drawer-template"
Having a problem with **"polymer init app-drawer-template"**

![image](https://cloud.githubusercontent.com/assets/7369575/15383707/ba4eddc8-1d5a-11e6-9a4e-1570cd199aa2.png)

        Oneeezy@Oneezy MINGW64 ~/Desktop/new app
        $ polymer init app-drawer-template
        info:    Running template app-drawer-template
        info:    Downloading latest release of Polymer/app-drawer-template

[2016-05-19 05:58] oneezy opened #168 "polymer init: arrow keys are not showing up when clicked "up" or "down""
Arrow keys are not showing up when clicked "up" or "down"

`git version 2.7.0.windows.1`

![image](https://cloud.githubusercontent.com/assets/7369575/15383962/a410c74a-1d5c-11e6-8a87-9764c58c25a5.png)

[2016-05-19 07:17] oneezy commented on #167
This is odd.. But to my knowledge nothing _major_  has been done differently..I ran the command again and now I'm getting this error:

        Oneeezy@Oneezy MINGW64 ~/Desktop/app
        $ polymer init app-drawer-template
        info:    Running template app-drawer-template
        info:    Downloading latest release of Polymer/app-drawer-template

        I'm all done. Running bower install for

[2016-05-19 14:46] moderndeveloperllc commented on #167
I'm getting the same error when trying to init the `shop` template.

[2016-05-19 15:45] CaptainCodeman commented on #167
It doesn't appear to create the bower file - try running init with the elements option first as a workaround

[2016-05-19 16:18] justinfagnani commented on #167
The correct answer to this conundrum, is that it's I/O time, and to have a little patience :)

[2016-05-19 16:20] justinfagnani commented on #168
This is the second report of key problems in Windows. @oneezy what version of Windows are you on?

[2016-05-19 16:20] justinfagnani commented on #168
@addyosmani any reports of problems on the Yeoman side?

[2016-05-19 16:21] moderndeveloperllc commented on #167
@justinfagnani I'm not sure I follow. The command is exiting out before any data is being downloaded from Github. I'm not cancelling it in the middle of the command or anything, and this is not a background task correct?

[2016-05-19 16:22] justinfagnani commented on #167
The templates aren't available yet

[2016-05-19 16:23] justinfagnani commented on #167
I'm not sure why it appeared to succeed the second try. That's probably bad.

[2016-05-19 16:24] justinfagnani commented on #167
Oh... the template is live. Looking into it.

[2016-05-19 16:30] oneezy commented on #168
I'm on Windows 10.

Important to note, this is purely visual (as in not seeing the arrow move up/ down). When pressing up or down and hitting enter, it will select the correct template.

[2016-05-19 17:18] azakus commented on #168
The issue here is `git bash`. Both `cmd.exe` and `powershell` work with arrows.

[2016-05-19 17:25] FredKSchott commented on #167
We've tracked down the bug to our github request logic. See https://github.com/Polymer/polymer-cli/pull/169

[2016-05-19 17:27] azakus commented on #168
Upstream issue https://github.com/yeoman/yo/issues/424

[2016-05-19 17:28] azakus commented on #168
Looks like the base issue is fixed with node v6.2.0: https://github.com/nodejs/node/issues/5384#issuecomment-219984590

[2016-05-19 17:31] #167 closed

[2016-05-19 17:36] azakus commented on #168
Hmm, well it doesn't look fixed to me with 6.2 in git bash / mingw

[2016-05-19 17:38] justinfagnani commented on #168
@azakus note at this point we're calling inquirer directly, so https://github.com/SBoudrias/Inquirer.js/issues/266 is the most direct upstream issue, I think.

[2016-05-19 17:38] oneezy commented on #168
Ahh, I see... I'm using Node 4.2.2 (I think).

I've got NVM installed though..will test this out on 6.2.0 when I get back to the desk

[2016-05-19 17:40] oneezy commented on #168
Err.. spoke to soon.

[2016-05-19 17:40] azakus commented on #168
@justinfagnani https://github.com/SBoudrias/Inquirer.js/issues/303#issuecomment-215501433 suggests a workaround is possible if we call inquirer

[2016-05-19 18:48] #168 closed

[2016-05-19 19:07] FredKSchott commented on #167
This fix has been pushed to npm within v0.8.0 https://www.npmjs.com/package/polymer-cli

[2016-05-19 19:07] FredKSchott commented on #168
This fix has been pushed to npm within v0.8.0 https://www.npmjs.com/package/polymer-cli

[2016-05-19 19:09] justinfagnani commented on #166
I'm going to implement this for now as just a file in the application template. Given the number of options available though, though could be a rally good target for the fabled `polymer gen` command, which generates files into the existing source directory.

[2016-05-19 19:26] justinfagnani opened #174 "Better Web App Manifest support"
Following #166 and #173 (which just adds a simple manifest to the application template) it seems like we should have very good support for generating and maintaining manifests.

Manifests are interesting, because they could be generated from information we have about the app, but they can also the the source of truth for certain information about the app. For instance, the application template col

[2016-05-19 19:26] justinfagnani commented on #174
cc @cdata

[2016-05-19 21:57] ThatJoeMoore opened #176 "polymer init fails with third-party generators installed"
When a custom init template is installed, `polymer init` fails with the following error:

[code]

This is due to an issue with the call to findup.

PR is #177.

[2016-05-19 22:35] ThatJoeMoore commented on #176
If anybody needs an example third-party template, you can `npm install -g byu-oit-appdev/polymer-yeoman#polymer-cli` for the current yeoman generator that I'm converting to an init template.

[2016-05-19 22:56] justinfagnani commented on #163
I updated typings on another project, and it wasn't so bad. I think we can do that one soon.

command-line-args is a very different API, but only has to change in the polymer-cli.ts, I think.

[2016-05-19 23:06] justinfagnani commented on #176
@ThatJoeMoore just to clarify, does this happen only with generators prefixed with `polymer-init`? If so, it's a bad bug, but maybe slightly less than critical :) I first thought that anyone with other Yeoman generators couldn't use `init`.

[2016-05-20 03:01] ncrawlins opened #178 "doesn't build on windows"
on windows 10.  tried with node 4, 5 and 6.  same issue every time, seem to be duplicating the src path before searching for files.

Notice how \temp\polytest is duplicated in the path it's searching.  This is after creating a new directory, running the init for "application" and then running build.  Works fine on linux with same versions of cli, node and bower.

[2016-05-20 04:58] ThatJoeMoore commented on #176
Yes, it only affects generators prefixed with `polymer init`.  I don't think it's critical, as I doubt many people are writing custom generators yet. I just happened to be putting the finishing touches on one when this was announced and I just had to see if it all worked together (It all works wonderfully, BTW 👏).

[2016-05-20 07:04] vattay opened #179 "Unclear build failure messaging."
### Issue
I was working on the polymer tutorial and found that an incorrect element import on build it fails with a cryptic stack trace, leaving a half generated build directory.

### Reproduce
Run ```polymer init app-drawer-template```
Add iron-ajax ```bower install --save PolymerElements/iron-ajax```
Use on element page, but instead of full path ```<link rel="import" href="../bower_components/ir

[2016-05-20 07:18] justinfagnani commented on #179
Thanks for the detailed reproduction!

[2016-05-20 16:28] justinfagnani commented on #178
We've seen reports recently of problems on gitbash. What shell are you using?

[2016-05-20 16:33] ncrawlins commented on #178
it's the same behavior on git-bash and the windows command prompt.

[2016-05-20 17:30] robrez commented on #167
Also getting errors on windows 7 via gitbash..

[code]

[code]

Side note: Because strict workplace firewall stuff, I use https:// instead of svn://

[2016-05-20 17:35] cgriffin4 opened #180 "[Enhancement] Build options for ignoring files"
The ability to set ignore paths is crucial to having a useful build tool. Maintaining the syntax implemented in vulcanize may assist in developer migration to the new toolset as well.

Ignoring unchanged files is less serious but would allow for server/cdn caching mechanisms while deploying.

[2016-05-20 17:59] Pupix commented on #178
/sub

[2016-05-20 18:53] menorless opened #181 "app-drawer-template not working"
Nodejs 5.1.0
Windows 10
run poly-cli on cmd and powershell

the element and application template working ok. but, when I select app-drawer-template that not working.

Screenshot:
![image](https://cloud.githubusercontent.com/assets/780662/15438409/65c30df8-1ea2-11e6-92d2-509cc2d56020.png)

[2016-05-20 19:07] justinfagnani commented on #181
Thanks for the report @menorless. FYI, we're in the process of setting Windows CI servers to make sure any fixes we do stay fixed.

[2016-05-20 19:08] justinfagnani commented on #180
Can you describe the behavior you want a little more? Do you want the files copied unchanged, or ignored completely?

[2016-05-20 20:43] duk opened #183 "app-drawer-template sample does not show up in Safari Version 9.1.1 (11601.6.17)"
Followed steps on https://www.polymer-project.org/1.0/start/toolbox/set-up.
When "polymer serve --open" on Safari Version 9.1.1 (11601.6.17), the page only show "My App."

Developer tool shows
localhost:39TypeError: null is not an object (evaluating 'document.body.appendChild')

[2016-05-20 21:00] duk commented on #183
See the same issue on latest Firefox build

[2016-05-20 21:05] justinfagnani commented on #183
@kevinpschaaf seems like an issue in the template. Should I move the issue?

[2016-05-20 21:50] duk commented on #183
`// load webcomponents polyfills
    (function() {
      if ('registerElement' in document
          && 'import' in document.createElement('link')
          && 'content' in document.createElement('template')) {
        // browser has web components
      } else {
        // polyfill web components
        var e = document.createElement('script');

        e.src = '/bower_components/webcomponentsjs

[2016-05-21 00:02] benjamincobb commented on #167
This bug still exists in Windows 10. I have polymer-cli version 0.8.0. The output is the same as oneezy's.

[2016-05-21 00:04] justinfagnani commented on #167
@benjamincobb unfortunately, I think the Windows issue is slightly different and Windows specific. We're spending the next few days stabilizing Windows with new CI servers and local VMs for development. Sorry about the turbulence!

[2016-05-21 00:07] benjamincobb commented on #167
@justinfagnani alright, thank you for the response! Good luck!

[2016-05-21 02:55] leesander1 opened #184 "Build issue"
Following along with the Codelab tutorials having difficulties getting my project to build properly for firebase deployment. I am using windows 10. Seems to be an issue with the the build failing.

C:\Users\leesa\Downloads\app>polymer build
info:    Building application...
info:    Generating build/unbundled...
info:    Generating build/bundled...
warn:    Unable to uglify file C:\Users\leesa\Down

[2016-05-21 13:47] dkipp opened #185 "Content Security Policy (CSP) support?"
Please add Content Security Policy (CSP) support to your build process.
before using polymer-cli to create my apps, I was able to polybuild my projects for CSP compliance.

[2016-05-21 20:20] Alos opened #186 "polymer init application missing name?"
Just installed the polymer-cli on OS X. After that I tried creating an application using:

 `polymer init application`

I get the following:

[code]

I was expecting polymer-cli to ask for the project name or use the directory name as the default. While installing polymer-cli there where some warnings not sure they are related or not:

[code]

Updating lodash and trying to install polymer-cli agai

[2016-05-21 20:38] Alos commented on #186
Updated other libs and tried with other template options (app-drawer-template, elements) with the same results. Runing nodejs v4.2.2

[2016-05-21 20:49] iblancasa commented on #184
If you go to "build" folder, you will have your files (I think).

I got this warnings too (ArchLinux with Node v4)

[2016-05-21 20:50] Alos commented on #186
Turning on verbose mode shows that the config read appears ok:

[code]

[2016-05-22 03:33] JGSolutions commented on #184
I tried polymer build and i get this error

error { [Error: Cannot find module 'gulp'] code: 'MODULE_NOT_FOUND' }
Error: Cannot find module 'gulp'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module.js:276:25)
    at Module.require (module.js:353:17)
    at require (internal/module.js:12:17)
    at Object.<anonymous> (/Users/jerrygag/Desktop/gulpfile.js:

[2016-05-22 07:24] lflee opened #187 "Cannot proceed after "polymer init""
I try to follow https://www.polymer-project.org/1.0/docs/tools/polymer-cli to create an app project.
But I cannot proceed after `polymer init`. I cannot move to other options by using the Down arrow key. But other init, like `polymer init application` works fine.

I think I has installed the necessary prerequisites -
![33](https://cloud.githubusercontent.com/assets/3342858/15452861/3f1329ec-2030-1

[2016-05-22 07:43] tennosys commented on #178
same problem here

[2016-05-22 09:44] tennosys commented on #178
The problem is here
In windows style path, it allways append again with root directory
`if (filepath) {
      // un-escape HTML escapes
      filepath = decodeURIComponent(filepath);

      // If the file path is not already under root, such as /bower_components/...,
      // prefix it with root
      if (!filepath.startsWith(this.analyzer.root)) {
        filepath = path.join(this.analyzer.root,

[2016-05-22 10:51] tennosys commented on #178
Fixed with
polymer-cli/src/build/analyzer.ts
[code]

and

[code]

but got another error because uglify script is not created.

[2016-05-22 11:12] Inrego commented on #187
I have the same issue on Windows. I think it's because they rely on a command called uname, which is not available on Windows.

[2016-05-22 11:30] tennosys commented on #178
Finally i can build it now
same problem with path windows/unix style

just modify
polymer-cli/src/build/uglify-transform.ts

import path
`import * as path from 'path';`

Fixing the js file path
[code]

[2016-05-22 13:57] TimvdLippe opened #189 "Unknown option throws error"
Invoking `polymer --help` threw the following error:

[code]

I expect to either not throw an error and gracefully stop or showing the help as fallback.

[2016-05-22 17:32] PCPrincess commented on #181
Similar issue for me. Using 'polymer init app-drawer-template' via tutorial for creating an app, the directory that should be created in my file, does not appear. At first, I received the error that the bower.json file did not exist, so I spent a couple of days searching around in an attempt to learn what may be causing the error (I'm learning node, npm, bower, and polymer), and this morning, base

[2016-05-22 17:58] tennosys commented on #181
@PCPrincess
there is a path issue, because unix and windows path system is different
In polymer-cli windows, template being downloaded and extracted to invalid path.
fastest way is clone the git template
`git clone https://github.com/Polymer/app-drawer-template.git`

[2016-05-22 20:45] peterblazejewicz commented on #187
Folks, there are versions of Node affected by keypress bug:
https://github.com/nodejs/node/issues/5384

[2016-05-22 23:15] leesander1 commented on #184
this was a duplicate issue #178 that was fixed with #188 followed the fix by @tennosys with a few minor exceptions with gulp  complaining about the " so I changed them to ' then I just built the polymer-cli and it successfully built.

src/build/analyzer.ts line 83
`this.files.set(path.join('', file.path), file);`

src/build/uglify-transform.ts line 28
`file.path = path.join('', file.path);`

[2016-05-23 00:14] tennosys commented on #184
Oh I see why my build is failing, thanks @leesander1

[2016-05-23 02:47] JGSolutions commented on #184
Ok thanks @leesander1. I will keep track of this discussion.

[2016-05-23 09:27] LostInBrittany opened #190 "Deprecated dependencies warning on npm install"
Hi all!

While doing a npm install de polymer-cli, I got warnings about deprecated versions of `cross-spawn-async`, `graceful-fs`, `lodash` and `jade`:

[code]

For info, I'm using npm 3.4.1 and node v4.2.2 manually installed on a  Ubuntu linux 16.04 (not de deb package).

They are all dependencies of other dependencies, so it could be not very easy to fix it. I'll try to modify the dependencies,

[2016-05-23 10:07] abdonrd commented on #190
Reference: https://github.com/Polymer/polymer-cli/issues/64

[2016-05-23 10:10] LostInBrittany commented on #190
Some more info:

The `jade` dependency problem comes from `gulp-mocha:2.2.0`, on its `mocha` dependency.

[code]

No easy solution for it, as the last version of `mocha` depends on `jade`. The issue is known there: https://github.com/mochajs/mocha/issues/2200 It won't be corrected before next major version of `mocha`.

The `cross-spawn-async` dependency comes from `yeoman-generator:0.23.0`

[code]

[2016-05-23 10:12] LostInBrittany commented on #190
@abdonrd thanks! I didn't find your issue before, sorry

[2016-05-23 10:12] #190 closed

[2016-05-23 14:10] #184 closed

[2016-05-23 15:42] tennosys commented on #181
Fixed with

[code]

[2016-05-23 16:55] kilombo opened #191 "Windows polymer serve build/bundled ERRORS"
When i execute **polymer serve build/bundled** i have these errors:
**index.html_script_0.js:1 Uncaught SyntaxError: Unexpected token <**

![screenshot-localhost 8080 2016-05-22 19-37-52](https://cloud.githubusercontent.com/assets/3757913/15455442/cc6c4d0e-2054-11e6-90f6-119698d4e5a3.png)

[2016-05-23 17:02] leesander1 commented on #191
A syntax error of some sort maybe missing a comma `,` or a colon`;`  somewhere.

[2016-05-23 17:05] kilombo commented on #191
Thanks for your reply @leesander1 but this is directly downloaded without modifications. I want to bundle and test it from Firebase hosting.

I dont't know where is the error.

[2016-05-23 17:08] leesander1 commented on #191
which project template are you working with and on what operating system?

[2016-05-23 17:12] kilombo commented on #191
OS: Windows 10
Node version: v.5.1.0

Project: git clone https://github.com/Polymer/shop.git

[2016-05-23 17:29] leesander1 commented on #191
@kilombo I was unable to replicate your issue. Did you receive any errors on build?

[2016-05-23 17:45] kilombo commented on #191
@leesander1 no errors on build:

![polymer-build](https://cloud.githubusercontent.com/assets/3757913/15479112/dafe59a0-211e-11e6-9c77-3ae17ff4f4ae.png)

[2016-05-23 17:51] leesander1 commented on #191
ah this is a polymer-cli build issue on windows. I had a similar experience and ended up compiling the tool with a fix #188 please check out #184

[2016-05-23 18:04] FredKSchott commented on #187
@Inrego @lflee You may have an old version, this was fixed in #171 which was pulled into v0.8.0. Can you reproduce on the newest version on npm?

Please re-open if you can verify this still happening on latest, as that might mean theres still work needed to fix.

[2016-05-23 18:18] FredKSchott opened #192 "gulp tasks (build-all & lint) silently failing due to sub-task depcheck"
Notice that depcheck starts but never finishes, and the final build sub-task is never run.
[code]

[2016-05-23 18:19] FredKSchott commented on #189
I'm able to reproduce this as well.

This is a regression, this case used to be handled.

[2016-05-23 18:51] vaadin-marcus opened #193 "Add clean task before build"
Right now, running `polymer build` does not seem to clean out the build directory before building.

I started with the app-drawer-template example and after replacing the my-view* files with my own files, I could see that all the old files are still present in the build directory.

[2016-05-23 19:06] FredKSchott commented on #186
Hmm, I can't reproduce. A quick google-search brings up this issue and related fixes https://github.com/yeoman/generator-angular/issues/1099.

Do you see any prompts / questions when you run `polymer init`? If so, at what stage does the tool crash (during questions, after questions, during bower install, etc)?

[2016-05-23 19:07] lflee commented on #187
@FredKSchott it doesn't seem working even on v0.8.0. (actually, I was already on v0.8.0 when I raised this issue.)

![screenshot 36](https://cloud.githubusercontent.com/assets/3342858/15481321/766ffea6-215c-11e6-8bac-0e98f1992348.png)

[2016-05-23 19:22] sbesh91 commented on #186
I've got a similar error with upon running polymer init app-drawer-template.

info:    Running template app-drawer-template
error:   Promise rejection: AssertionError: A name parameter is required to create a storage
error:   AssertionError: A name parameter is required to create a storage
    at new Storage (/usr/local/lib/node_modules/polymer-cli/node_modules/yeoman-generator/lib/util/storage.js

[2016-05-23 19:35] FredKSchott commented on #187
Thanks for the quick response @lflee
@azakus can you take a look at this?

[2016-05-23 20:03] Alos commented on #186
So I get the error after I pick the type of template or right away if I run it as @sbesh91 here is how it looks like with -v on:

[code]

[2016-05-23 20:03] azakus commented on #187
@lflee What version of node do you have?

[2016-05-23 20:05] lflee commented on #187
@azakus v6.0.0

[2016-05-23 20:06] azakus commented on #187
Ok, this was fixed in 6.2.0. @justinfagnani we can add a version check, < 4.2.4, 5.0, 5.5-6.1 are busted.

[2016-05-23 20:12] lflee commented on #187
Thanks @azakus , I installed node v6.2.0 and it's working now.

[2016-05-23 21:21] vaadin-marcus commented on #183
I didn't want to wait for the document to load before loading the polyfill, so I ended up changing `document.body.appendChild(e);` to `document.head.appendChild(e);` – seems to work fine in both FF and Safari

[2016-05-23 21:44] chuckh commented on #32
We may need to consider another option then ship. From ship readme:

See https://github.com/carrot/ship/blob/master/readme.md.

[2016-05-23 21:57] addyosmani commented on #32
We spoke to @samccone at some point about us helping to maintain Ship or fork. I'd be curious if that's something we are still interested in.

[2016-05-24 00:25] guillaumemaka opened #196 "polymer test command: Cannot find module './build/Release/DTraceProviderBindings'"
Hi,

When i run ```polymer test``` command I got this error:

[code]

Node version : ```v6.2.0```
NPM version : ```v3.9.2```
OS : ```Darwin Kernel Version 15.4.0```

Does someone already got this error ?

[2016-05-24 01:10] garlicnation commented on #196
@justinfagnani I've been seeing this a lot on my personal machine, but it hasn't caused me any issues.

[2016-05-24 11:31] chintansoni202 opened #197 "ENOENT No bower.json present"
I am trying learn with my first polymer app and I am stuck.

I started from here: https://www.polymer-project.org/1.0/start/toolbox/set-up

I installed the Polymer CLI successfully. Now, When I am trying to initialize project from a template, it shows following log in my cmd:

[code]

And when I checked, my polymer-app folder was empty. Nothing got dowloaded.

Can anyone please help me with it ?

[2016-05-24 11:37] naoak commented on #197
Similar to #167?

[2016-05-24 12:18] thibaultsavary commented on #197
Hey,
Same error here.

Windows 10, Node 6.2.0 & Polymer-cli 0.8.0

Similar to [#167#issuecomment-220668841](https://github.com/Polymer/polymer-cli/issues/167#issuecomment-220668841)

[2016-05-24 12:23] tennosys commented on #197
Try to fix it with my changes here
[57a77a40d8e6d80e071d37d1e1f31bec74d47918](https://github.com/Polymer/polymer-cli/pull/188/commits/57a77a40d8e6d80e071d37d1e1f31bec74d47918)

[2016-05-24 13:12] carltondickson commented on #186
Try running it in an empty directory and it works for 4.4.4 and 6.2.0

[code]

It was broken for me, I was running it inside of an existing Laravel project which I'm guessing breaks things...could it be a package.json file causing some issues?

As a test I dropped the package.json from my Laravel project into an empty directory and it causes the problem again.

[code]

[2016-05-24 13:43] carltondickson commented on #186
Should probably add that this works for the application template but didn't seem to work for app-drawer-template

[code]

[2016-05-24 14:21] thibaultsavary commented on #197
@tennosys Thank you, it did the trick.

[2016-05-24 14:31] thibaultsavary opened #198 "Command:polymer build - Tree scoping issue - "Error: Cannot find module gulp""
Hello,

I got a weird issue trying to launch a build, I don't know if it's related to the way polymer-cli behave but it's the first time I encounter this.

When I executed:
`$ polymer build`

I got this error:
[code]

As you can see the gulpfile has nothing to do with the project itself, it was on the desktop.

Is this normal or there may be an issue with the tree scoping ? (I don't know if it's t

[2016-05-24 14:36] LostInBrittany commented on #190
For info, the `cross-spawn-async` dependency that came from `yeoman-generator` won't be a problem soon, I've done an [PR over there](https://github.com/yeoman/generator/issues/934), and it has been accepted, so the problem will disappear in next version of `yeoman-generator`

[2016-05-24 14:47] kilombo commented on #191
Sorry @leesander1 but on src/build/analyzer.ts line 83 i have:
`this.files.set(file.path, file);`

and on src/build/uglify-transform.ts line 28
`let contents = file.contents.toString();`

[2016-05-24 15:23] normmcgarry commented on #186
I'm getting the same issue on Windows 10 when trying to generate an element. Confirm that running the CLI in a folder outside of the main project works fine, but errors when inside a project.

[2016-05-24 15:53] leesander1 commented on #191
@kilombo yes the current branch has yet to be updated for this fix. To fix this you will have to make the changes yourself and compile using the instructions in the README.
On src/build/analyzer.ts line 83:
you will be replacing `this.files.set(file.path, file);` with 'this.files.set(path.join('', file.path), file);'

On src/build/analyzer.ts line 254:
You will need to insert 'filepath = path.join

[2016-05-24 16:05] stmarco commented on #198
Hello

i have a similar issue, when i do polymer build it gives me:

gulp is installed globally and i've installed it locally

OSX 10.10.5
gulp version: 3.9.1
bower 1.7.9
npm 3.9.2
node v4.2.4

[2016-05-24 16:47] thibaultsavary commented on #198
@stmarco

It seems that if there a gulpfile.js somehwere higher in the tree it causes that issue.
If you put the folder of your polymer project somewhere where there's no gulpfile.js higher in the tree you won't get the issue.

For instance in my case, moving the gulpfile.js in a folder on the same tree level solve the issue.

This causes the error
[code]

This doesn't
[code]

[2016-05-24 17:01] Alos commented on #186
@carltondickson thanks for the suggestions, this did not work. I was working on an empty directory anyways. passing the --name=application also does not help.

Using Node v4.2.2

[2016-05-24 17:10] Alos commented on #186
Update to Node v6.2.0 did not help :(

[2016-05-24 18:09] samccone commented on #32
It is prob worth a fork or just using it as a base :)

[2016-05-24 18:27] Alos commented on #186
When you install polymer-cli does it also install a generator in yoman?

[2016-05-24 18:40] Alos commented on #186
I think the issue is calling the generator by name. I can run the generator called generator-polymer-init using yoman directly but not when the init.js calls it :hushed:

[2016-05-24 19:30] Alos commented on #186
Ok guys! Upon further investigation, the **options** object passed to the GtihubGenerator constructor looks like this:

[code]
Please notice the **resolved** property is 'unknown'.

The constructor calls its parents constructor like this:

[code]

Then if you look at the original error, the issue happens at line 667 of the base.js:

[code]
The problem is the rootGeneratorName() method that looks l

[2016-05-24 22:30] Alos commented on #186
On the [yeoman documentation](http://yeoman.io/authoring/integrating-yeoman.html) I see that:

Help?

[2016-05-25 04:18] chunkers opened #200 "polymer init - TypeError: this.opts.filename.replace is not a function"
When running `polymer init`, seeing the following error after entering description.

[code]

[2016-05-25 06:24] stmarco commented on #198
Thanks Thibault, there was a gulpfile in a directory two levels above my project folder, removing that file solved my issue

[2016-05-25 06:44] hamzaislam opened #201 "polymer init app-drawer-template behind corporate proxy"
Tried polymer init app-drawer-template, it couldn't bypass the proxy.  (i do have env variable http_proxy already set to the proxy server without username/pass)

Is there a way to set the proxy directly to polymer config (similar to npm set config proxy?)

[code]

[2016-05-25 06:58] hamzaislam commented on #201
Update: i set the https_proxy variable with my credentials using set https_proxy="http://<domain>%5C<username>:<password>@<hostname>:<port>/" and now encounter the following error (SSL related, so atleast the proxy is being passed through to handshake to the host).

D:\ProjectGIT\tolweb-mobile-new>polymer init -v app-drawer-template
debug:   got args:
{ args: [ 'init', '-v', 'app-drawer-template'

[2016-05-25 07:38] smartssa commented on #200
More specifically when running `polymer init element` or `polymer init application` - init with the `shop` and the `app-drawer-template` seem to work fine.

[2016-05-25 09:25] Stormsys opened #202 "polymer build doesn't appear to work correctly."
There appears to be some odd behaviour on windows 10 x64 using the polymer-cli build feature.

Steps to reproduce:

a few things that i can note about the build output:

Index.html contains the following script tag, but no file exists.

In bunbled/index.html the file contains the following link, which i believe is just for HTTP/2, note that neither folders actually contain manifest.json

most comp

[2016-05-25 09:31] tennosys commented on #202
U can apply fix here #199
or you can use my fix here #188

[2016-05-25 11:40] mgibas commented on #200
Same here

[2016-05-25 11:57] kevjs1982 commented on #200
Same here on Windows 10 - a console.log of this.opts just before the error line shows

[code]

[2016-05-25 14:35] chunkers commented on #200
Sorry it is with `polymer init element`
Also running on node version 4.4.5

[2016-05-25 15:15] chunkers commented on #200
Closing this issue as its with EJS...thanks for the responses!
https://github.com/mde/ejs/issues/166

[2016-05-25 15:15] #200 closed

[2016-05-25 17:37] PCPrincess commented on #181
Thanks! – That is exactly what I did. Working perfectly thus far ; )

From: Teno Siswono [mailto:notifications@github.com]
Sent: Sunday, May 22, 2016 10:59 AM
To: Polymer/polymer-cli <polymer-cli@noreply.github.com>
Cc: PCPrincess <PCPrincess@mail.fresnostate.edu>; Mention <mention@noreply.github.com>
Subject: Re: [Polymer/polymer-cli] app-drawer-template not working (#181)

@PCPrincess <https://g

[2016-05-25 17:46] valdrinkoshi opened #203 "misleading redirect when developing in local"
When i hit http://localhost:8080/**components/**iron-collapse/test (no ending `/`) it redirects me to  http://localhost:8080/**Users/valdrin/dev/polymer/**iron-collapse/test/

Then I would get misleading errors on the console like:
[code]

Ideally, I'd expect the cli to add the missing `/` 😁

[2016-05-25 18:49] abdonrd opened #204 "Opt-in more linters (like eslint)"
Can we opt-in more linters (like eslint)?

When we run `polymer lint`:
1. Run polylint
2. Run eslint
3. etc...

Maybe with gulp tasks? Or how?

[2016-05-25 19:53] Tykin opened #206 "Creating an Element Error: this.opts.filename.replce is not a function"
Trying to create a polymer element using the polymer client tool in windows. The creation step fails repeatedly. Using Node 4.4.0.

[code]

[2016-05-25 21:10] yordis commented on #206
@Tykin Actually even for application type I get this message as well

[2016-05-25 21:16] LasaleFamine commented on #187
Problem solved also for me upgrading from node v5.7 to v6.2.0.

[2016-05-25 21:53] MarcosGalaviz commented on #206
I have the same issue :(

[2016-05-25 22:27] FredKSchott commented on #206
I can reproduce this on Windows as well, not on Linux/Mac.

We're actively tracking and fixing a few different Windows bugs that have popped up since launching. See #199 for our current work to get tests passing on Windows. We'll tackle this as soon as possible once that's merged.

[2016-05-25 22:30] dcoblentz commented on #206
I'm seeing this on mac as well.

[2016-05-25 22:40] FredKSchott commented on #206
@dcoblentz Interesting, we've previously been tracking this as a Windows bug. What version of Node.js are you running?

[2016-05-25 22:43] FredKSchott commented on #206
Okay, it's definitely starting to look like a Node.js v4.x issue. I can reproduce with node v4.4.4 on both Mac & Windows, but cannot reproduce with node v5.x or v6.x.

[2016-05-25 23:08] dcoblentz commented on #206
I'm on v6.2.0. I had also tried in v5.5.0

[2016-05-25 23:15] Tykin commented on #206
I can also reproduce in Mac. Using node v5.7.0 and npm 3.6.0.  I am going to update to the latest versions and try again.

[code]

[2016-05-25 23:21] malthusyau commented on #206
Same issue for me on both mac (node v6.2.0 npm 3.8.9) and linux (node 5.10.1 npm 3.8.3)

[2016-05-25 23:24] FredKSchott commented on #206
We've tracked this down to an error in one of yeoman's dependencies introduced within the last 24 hours:
https://github.com/SBoudrias/mem-fs-editor/issues/59
https://github.com/mde/ejs/issues/166

Until recently this `copyTpl()` could accept an array of file patterns to match against, even though this wasn't explicitly supported by it's dependency ejs. A recent change there now causes this to fail

[2016-05-25 23:46] FredKSchott commented on #204
We're currently looking into making polymer-cli commands more customizable/extensible. This is a good use case to consider.

[2016-05-25 23:47] FredKSchott commented on #204
Do you write your web component JavaScript in separate `js` files? If so most linters will still work and can be run as a separate command before/after `polymer lint`. Different build tools (including [npm run scripts](https://docs.npmjs.com/misc/scripts)) can make calling these together easier.

[2016-05-26 00:07] abdonrd commented on #204
No, I write my web component JavaScript in the same file, like all the PolymerElements.

Now I'm trying to use only the Polymer CLI commands.
So I proposed what we had spoken here: https://github.com/PolymerElements/polymer-starter-kit/pull/779#issuecomment-212012869.
But yes, we can use npm run scripts. I use it previously.

[2016-05-26 06:04] NicolasRannou commented on #206
+1
👍

[2016-05-26 08:05] butterandfly opened #208 "The bash turns gray after running polymer lint."
![image](https://cloud.githubusercontent.com/assets/1502478/15567873/5afbfa98-235b-11e6-9f1e-d75b6bf3bfe1.png)
It seems that the last gray hint will break my iTerm.

[2016-05-26 08:06] hamzaislam commented on #201
For now have worked around by cloning the repo and running bower install (for which all proxy config was correctly set).

[2016-05-26 08:06] #201 closed

[2016-05-26 16:18] qwoodmansee commented on #181
I am having this issue as well, but when running polymer init application I i get the following:

![capture](https://cloud.githubusercontent.com/assets/10392661/15581803/e4c5893a-233b-11e6-8ef8-b4c63bab0ff0.PNG)

will clone the template for now, but wanted to add this in for you guys.

[2016-05-26 16:29] justinfagnani commented on #183
This was fixed upstream in https://github.com/Polymer/app-drawer-template/pull/3

[2016-05-26 16:29] #183 closed

[2016-05-26 18:01] FredKSchott commented on #208
Polymer-cli is using the polylint package for linting, which is where this problem is coming from.

What was the name of your element when this happened? The output characters in that gray warning look strange, which could have caused this. Can you also share your node version?

[2016-05-26 18:03] FredKSchott commented on #198
Glad this worked out! closing this unless there's something easy that we could do to prevent this use case from causing an error.

[2016-05-26 18:03] #198 closed

[2016-05-26 18:04] FredKSchott commented on #202
This has been fixed on master. A new version will be released with this fix to npm soon.

[2016-05-26 18:04] #202 closed

[2016-05-26 18:40] #189 closed

[2016-05-26 18:49] #166 closed

[2016-05-26 18:52] justinfagnani commented on #206
Fixed in #207

[2016-05-26 18:52] #206 closed

[2016-05-26 18:53] FredKSchott commented on #206
Just pushed to npm as well

[2016-05-26 18:54] justinfagnani commented on #204
We're going to try to add more functionality via hooks, probably exposed initially to Gulp. I'll leave this issue open so we can update it when the appropriate hooks land.

[2016-05-26 18:56] FredKSchott commented on #197
This has been fixed in #199 (I can no longer reproduce). Please install the newest version on npm (0.9.0) to get the fix.

[2016-05-26 18:57] #197 closed

[2016-05-26 18:57] FredKSchott commented on #192
This is reproducible on both my Mac and Windows VM. I think it has something to do with new dependency installs.

[2016-05-26 18:59] justinfagnani commented on #186
@Alos I'll try to reproduce this today

[2016-05-26 19:03] justinfagnani commented on #187
We need to add some version checks to the logic for displaying the prompts, so that we're not working around the node bug when it's fixed, and so that we're not failing in 5.x (I thought #171 handled this).

[2016-05-26 19:43] qqiao opened #210 "cli 0.9.0 fails: Cannot find module '..'"
node version: 6.2.0
Polymer-cli version: 0.9.0

Error message:

[code]

[2016-05-26 19:47] yordis commented on #210
@justinfagnani @FredKSchott Yeah, the 0.9 version introduce this one :(

[2016-05-26 19:48] qqiao commented on #210
Same on node v4.4.5

[2016-05-26 19:48] dannybrian commented on #210
Also on 4.4.5. It's not just init, it's polymer cli.

[2016-05-26 20:09] benjamincobb commented on #210
I also have this problem. Introduced with 0.9.0.

[2016-05-26 20:11] justinfagnani commented on #210
I'll look at this ASAP

[2016-05-26 20:25] taviLaies commented on #210
+1

[2016-05-26 20:33] cgriffin4 commented on #180
Giving this a second look I'd like to see this merged with issue #32 as it is the enhancements are standard with deployment tools rather than build tools.

'Ignore Paths' option: specifically so that I can output only the files needed in the site. Ignoring /test/ or /demo/ in every component.

'Changed' option: so that I'm not outputting a brand new /images/ directory for every change to the websi

[2016-05-26 20:34] thomasweitzel commented on #210
After $ npm -g install polymer-cli there's no "lib" directory anymore ...

[2016-05-26 20:35] FredKSchott commented on #210
This is caused by https://github.com/Polymer/polymer-cli/issues/192

The `depcheck` task called inside of `build-all` is failing, causing the actually build task to never be run.

[2016-05-26 20:50] FredKSchott commented on #210
Fix submitted here: https://github.com/Polymer/polymer-cli/pull/211

[2016-05-26 21:47] FredKSchott commented on #210
Proper fix submitted and reviewed here: #212
We're just waiting for tests to run/pass and then we'll cut a new version, hang tight

[2016-05-26 22:42] justinfagnani commented on #210
Should be fixed in 0.10.0 now. Sorry for the problems!

[2016-05-26 22:42] #210 closed

[2016-05-26 23:26] degroote22 opened #215 "Windows 10 path issues"
_polymer serve_ works as a charm but _polymer build_ doesn't.
As mentioned, I'm using Windows 10.

The error log is:
[code]
I believe the issue is that the logic thinks that _c:/polymer2/app-drawer-template-master/_ is different than _c:\polymer2\app-drawer-template-master._ **Note the dashes!**

Also, I'm using the most recent version of the CLI downloaded through npm.

[2016-05-26 23:31] FredKSchott commented on #215
Thanks for creating the issue, @degroote22! This is a known problem that @justinfagnani is currently working on.

[2016-05-27 11:41] davidmaxwaterman opened #217 "polymer init should catch invalid 'Main element name'"
I (mistakenly) set my 'Main element name' to a name beginning with a zero '0' and it merrily went on its way. Loading it in the browser, of course, failed :

[code]

Easy enough to spot, but it would be more use friendly to catch this earlier - especially since it catches a missing '-'.

[2016-05-27 11:49] davidmaxwaterman opened #218 "consider not doing `bower install` as part of `polymer init`"
I want to `git init` the initial set of files for my app, but files installed with bower shouldn't be included so I need to do `rm -rf bower_components` befor `git init && git add *` and then do `bower install` again.

It seems a little pointless to do it as part of `polymer init`.

IMO, it should be something like this :
1. polymer init # after this I can do whatever I want with git/etc
2. polyme

[2016-05-27 12:53] davidmaxwaterman opened #219 "errors and warnings from `polymer build`"
I have attempted to use the polymer-cli to start an `application: A blank application template`. The init process works, but `polymer build` produces several warnings and errors :

[code]

Any advice on how to move forward with this issue?

[2016-05-27 12:57] davidmaxwaterman commented on #219
aside: I'm curious why `polymer build` is trying to uglify files in /tests.

[2016-05-27 14:31] vikjung opened #220 "Unable to get polymer-cli setup on mac"
Get following errorr

npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "-g" "polymer-cli"
npm ERR! node v4.4.5
npm ERR! npm  v2.15.5
npm ERR! file /Users/Vikmac/.npm/minimist/1.2.0/package/package.json
npm ERR! code EJSONPARSE

npm ERR! Failed to parse json
npm ERR! No data, empty input at 1:1
npm ERR!
npm ERR! ^
npm ERR! File: /Users/Vikmac/.npm/minimist/1.2.0/package/package.js

[2016-05-27 14:38] menorless commented on #181
When I updated the polymer-cli recently I get the same issue of @qwoodmansee too

[2016-05-27 14:50] ncrawlins commented on #218
I want to be able to serve without having to build.  I don't want bower install running every time I build.

you are going to have to create a .gitignore file regardless?  why not do that first and add bower_components to it before you initialize git?  seems like you're making everyone who uses the cli have to to do an extra command and an unnecessary build to get started developing just to fit yo

[2016-05-27 14:57] davidmaxwaterman commented on #218
Yes, I agree that having it in the build is perhaps sub-optimal, but imo it should be a separate build - after all, it *is* actually a *build* step, not an 'init' step.

I don't like having things like bower_components in .gitignore because it hides the files (duh) and I want to actually see what is there in my git status.

Yes, I think it *should* be an extra command and you're right in that is w

[2016-05-27 15:04] justinfagnani commented on #218
I don't think we should `bower install` on build, installation is a separate distinct step that can sometimes change how your app behaves. It's also not always possible to go back to the previous state after installation.

I think there are two things here: 1) we could prompt for `bower install`. This doesn't seem to be the norm for Yeoman generators, but we can put in a prompt around the call our

[2016-05-27 15:06] justinfagnani commented on #220
Interesting that the installation failed inside minimist. Maybe a network error? Can you try again?

What version of node and npm are you running?

[2016-05-27 15:09] justinfagnani commented on #219
Thanks for the report. This is similar to something I was working on yesterday which I thought was only occurring on Windows.

We shouldn't normally be optimizing files in `test/`, that's either a bug, or you may have a reference from `src/` into `test/`, possibly via an HTML import.

[2016-05-27 15:09] ncrawlins commented on #218
oh, so you still want to commit the bower_components folder, but not on the initial commit? what is the reasoning for that?

Regardless, in my mind, installing bower dependencies isn't a build step it's an initialization step and in the *vast* majority of cases, if you took it out the polymer init, it would just end up being the very next thing people did.  maybe just add an optional flag to the i

[2016-05-27 15:10] davidmaxwaterman commented on #218
Yeah, I agree that I shouldn't have called it a 'build step' because it isn't really something done every time you build - ie not 'polymer build' (unless it can avoid doing it if it's already done, like make can).

I suppose I was thinking that 'polymer' was more like 'yoeman' in that it would just give your the directory structure and basic files...however, I notice that it installs a whole load

[2016-05-27 15:10] justinfagnani commented on #217
Ooh, good catch. I think we only check that there's a dash right now.

[2016-05-27 15:12] ncrawlins commented on #218
that just sounds like you have issues with the template choices more than with the init process.

[2016-05-27 15:15] davidmaxwaterman commented on #218
No, I don't want to *commit* bower_components...that is a directory needed for building the app, and should be generated (perhaps that's a better word to use than 'build step').

However, I don't want `bower install` run for me when I start a blank project...how can it possibly know. Maybe for one of the other 'polymer init' options where you're actually asking for a more 'full' project, but I ask

[2016-05-27 15:24] ncrawlins commented on #218
Again, if you don't want to commit it to git, then you are going to have to add it to your .gitignore at some point, just do that before you do your init. or as @justinfagnani mentioned, maybe the templates should include a basic .gitignore file to ignore the bower and build folders.

[2016-05-27 15:24] davidmaxwaterman commented on #218
Anyway, like I said in the summary, all I wanted in this issue is for the authors to *consider* not doing `bower install` in the `polymer init`.

I think perhaps it would be fine to only not do it in the *blank* template, but really I just wanted to express my surprise (as a somewhat seasoned html5 app developer) that it had this behaviour and for them to *consider* changing it.

So, it has been c

[2016-05-27 15:30] davidmaxwaterman commented on #218
That's not correct. I don't add it to my .gitignore and I don't want to commit it. I do a `git add` for things I want to commit, and I would never do that for `bower_components/`. I still want to see them listed in the 'untracked files' section in `git status`.
If a .gitignore file is added that includes `bower_components/` or `node_mobules/` for that matter, then I am sure to promptly remove them

[2016-05-27 15:34] davidmaxwaterman commented on #219
FWIW, I haven't changed any of the source files....or any files at all actually...since `polymer init`.

[2016-05-27 15:56] kmdupr33 commented on #219
I'm having a similar issue.

[2016-05-27 16:42] justinfagnani commented on #218
None of the templates are useful without a `bower install`, so for 99% of the users, they will need to install.

I've also never seen anyone before not use `.gitignore` to ignore `bower_components/` and `node_modules/`. I'm curious about this use case. Untracked git files are something you generally want to avoid, and `.gitignore` lets you do that. Why would you want to keep it _out_ of `.gitignor

[2016-05-27 16:53] davidmaxwaterman commented on #218
well, like I said...I like to see them there so I know what is going on. It's only two lines and I find it reassuring. It is a bit like the '.' files...they're hidden in ls output by default, and I'd simply rather know they are there.
I have had a discussion on #polymer and I can see the arguments, but there's nothing really I didn't already know - it's just that I like to see what is there, and h

[2016-05-27 17:00] vikjung commented on #220
Tried multiple times same issue.   Node - v4.4.5,  npm - 2.15.5

Happens after -
-----
selenium-standalone installation finished
-----

[2016-05-27 19:02] abdonrd commented on #180
👍 about this.

At the root we need to avoid `bower.json`, `polymer.json`, `README.md`, `/test/`, etc

[2016-05-27 20:39] FredKSchott commented on #220
I cannot reproduce on my mac, with your versions of node & npm.

@vikjung Can you try running `npm install -g polymer-cli --verbose` and pasting the full output here?

[2016-05-27 20:41] FredKSchott commented on #219
I can reproduce in the shop template.

[2016-05-27 20:56] FredKSchott commented on #219
https://github.com/Polymer/polymer-cli/issues/219 actually fixes this for me on Mac.

I would appreciate if someone running into this problem could check out the branch from #219 and run locally, and confirm that it fixes it for them as well.

[2016-05-27 22:08] vikjung commented on #220
Attached detail

[polymer-cli issue.txt](https://github.com/Polymer/polymer-cli/files/287421/polymer-cli.issue.txt)

[2016-05-27 22:43] FredKSchott commented on #220
It looks like you have a bad package.json in your collection of global npm dependencies (~/.npm). You can run `cat /Users/Vikmac/.npm/minimist/1.2.0/package/package.json` on your machine to confirm that that file is empty (it most certainly shouldn't be).

Since this isn't a polymer-cli problem and is a problem with your environment (or possibly npm) I'm closing this issue. I'd recommend uninstall

[2016-05-27 22:43] #220 closed

[2016-05-27 22:51] davidmaxwaterman commented on #219
I'm trying the branch `windows` (I think that's right from #216)...npm install is taking forever :/

[2016-05-27 23:00] davidmaxwaterman commented on #219
ok, I still get the issue with the warning about uglifying the tests, and others in bower_components, but the build does actually complete :

[code]

[2016-05-28 03:56] abdonrd opened #222 "Error in polymer build with the last release (v0.11.0)"
With the last release (v0.11.0), `polymer build` doesn't work:

![error](https://cloud.githubusercontent.com/assets/1007051/15625026/e55728aa-2498-11e6-89be-7c8d8dcd1dac.png)

[2016-05-28 06:15] vikjung commented on #220
Uninstall and reinstall of node and npm doesnt fix it. I think cached packages from previous bower install were messed up.

Executed ---    npm cache clean
~/.npm is a cache that npm uses to avoid re-downloading the same package multiple times.   That was having 0 byte package.json for different packages like minimist, object-assign and others

this got me further but Still am Not able to run poly

[2016-05-28 07:27] web-padawan commented on #222
I have another error on Windows 7:
![error](https://cloud.githubusercontent.com/assets/10589913/15625844/8236f3f6-24be-11e6-8b6e-41f58334f758.png)

[2016-05-28 11:00] davidmaxwaterman commented on #218
This issue has become complicated. Let me try to enumerate the issues.

Removed issues :
1. I accept that the (vast) majority would prefer bower_components/ added to .gitignore (my preference is unusual).
1. I see that some dependencies in bower_components/ are actually *dev* dependencies in bower.json, so I guess they are actually for the tools rather than my app, so that's fair enough. This also

[2016-05-28 11:29] addyosmani commented on #218
This was the case for a lot of templates in Yeoman generators too. For some, we worked on making the templates useful without the need for a package manager installation step, but the reality is if you're using a CLI tool that's being prescriptive having it take care of a step most beginners aren't going to realise they will need (`bower install`), makes sense.

[2016-05-28 13:09] davidmaxwaterman commented on #218
Yes, I can agree with that...the beginner aspect. I suppose the only argument I can see is that they are almost certainly going to need to use such a tool/step pretty quickly, so why not introduce it right away?

In any case, I think this aspect has been considered well enough and it seems to me to be valid that a `bower install` step during `polymer init`, combined with appropriate additions to a

[2016-05-28 15:17] jwayong commented on #191
BashOnWindows (Ubuntu) with Windows 10 Insider Preview build 14352 will work :)

[2016-05-28 15:18] JGSolutions commented on #222
I am on a mac with node 4.4.5 and i get this error: It's looking for a package.json

error [Error: Could not find dependencies. Do you have a package.json file in your project?]
Error: Could not find dependencies. Do you have a package.json file in your project?
    at module.exports (/Users/jerrygag/node_modules/gulp-load-plugins/index.js:56:11)
    at Object.<anonymous> (/Users/jerrygag/Desktop/

[2016-05-28 18:21] thomasweitzel commented on #222
I got the same error as abdonrd, but a slightly different stack trace (Windows 7):
![polymer-0 11 0-build-error](https://cloud.githubusercontent.com/assets/3513156/15629106/ac26d19c-2511-11e6-80c1-a6e823beecef.png)

[2016-05-28 19:19] thibaultsavary commented on #222
[code]

[2016-05-28 23:32] Alos commented on #186
@justinfagnani thanks! Let me know if you want me to try something in my machine

[2016-05-29 02:59] nakleiderer commented on #222
`info:    Building application...
info:    Generating build/unbundled...
info:    Generating build/bundled...
warn:    Unable to uglify file /home/ubuntu/makersync-app/bower_components/web-component-tester/data/index.html_script_0.js
warn:    Unable to uglify file /home/ubuntu/makersync-app/bower_components/web-component-tester/data/index.html_script_2.js
error:   Promise rejection: Error: no reso

[2016-05-29 03:06] nakleiderer commented on #222
And here's another stack trace.

Environment: Ubuntu 14.04 (Trusty) with NodeJS v4.2.6

[code]

PS: Thanks for this tool. I hope to use it in a production continuous deployment system when it becomes stable.

[2016-05-29 12:35] butterandfly commented on #208
These two days i did change a lot of my project, and this situation has gone. Now I am not sure the reason. I will check it out later.

[2016-05-29 12:37] butterandfly commented on #208
Oh my nodejs is v6.2.0; and that is my custom element.

[2016-05-30 10:39] JPMoresmau opened #224 "Polymer test never returns, does apparently nothing"
I create a sample app via `polymer init`. `Polymer serve` works fine. `Polymer test` seems to be starting node, but then nothing happens (I mean, after half an hour, I have no output). Is it normal? Am I supposed to do something else? I expected the default simple test that exercise the sample app component to run and pass.
I'm on Windows, updated polymer-cli this morning. Not sure what version in

[2016-05-30 12:03] dehrax commented on #215
[code]
Thought this might be helpful. Notice the path at the bottom line, it is kind of weird. First time I tried to build, so I have not yet gotten into what might be causing the uglify warnings.

[2016-05-30 21:00] robdodson opened #225 "Tell linter to ignore files"
`polymer lint` is linting everything in my `bower_components` dir so my project always fails because `app-layout` has some linting issues. Is there a way to tell the linter to ignore that directory?

[2016-05-30 21:17] robdodson opened #226 "shared-bundle.html 404s"
Running `polymer build --entrypoint index.html` against the PSK2 branch (https://github.com/PolymerElements/polymer-starter-kit/tree/psk2) generates a file with an import for `shared-bundle.html` but it doesn't actually create a `shared-bundle.html` file so I get a 404.

[2016-05-31 08:47] garcianavalon opened #227 "polymer lint fails on basic element project layout"
Hi!

I just followed the steps in the [docs](https://www.polymer-project.org/1.0/docs/tools/polymer-cli#element) to create a new element project and when I try to lint the command fails in different ways.

Using the command [specified in the docs
](https://www.polymer-project.org/1.0/docs/tools/polymer-cli#lint)
[code]

Trying different options based on [the README of this repo](https://github.com

[2016-05-31 10:19] davidmaxwaterman commented on #218
One aspect that might be worth considering is that this tool is targeted at beginners. I should point out that I am not a beginner, but I still found myself trying to use this tool. Thinking about it, it wasn't obvious to me that it is targeted at beginners (it's not mentioned on the web page [0]). My motivation for using the tool are to have a project architecture that is some how 'standard', or

[2016-05-31 10:48] pinkflozd opened #228 "is <platinum-sw-register> needed with polymer-cli"
Hello.

Is platinum-sw-register still needed if i use the sw-precache-config.js and then build the app with polymer build?

[2016-05-31 14:18] robdodson commented on #18
I'm probably doing it wrong but this seems to be opening the wrong thing.

`polymer serve -o` will open `http://localhost:8080/components/polymer-starter-kit/` but I'm not building an element I'm building an app so I'd like it to open `http://localhost:8080`

I tried `polymer serve --open "index.html"` but that threw an error:

[code]

[2016-05-31 15:14] robdodson opened #230 "Add browsersync?"
A very much loved feature of PSK is [browsersync](https://www.browsersync.io/) which is kind of like an improved version of live reload. We include this by default in the PSK gulpfile so running `gulp serve` will start up a local server running browsersync and users can just start playing with their app on different devices. Have you all given any thought toward including something like this in CL

[2016-05-31 17:31] kilombo commented on #191
Sorry @leesander1 i made your changes and the same result.
I restarted Windows.

[2016-05-31 18:13] oneezy commented on #230
Not only loved...
I honestly **CAN'T LIVE** without it!

- 24,326 developers in the last day
- 161,678 developers in the last week
- 694,946 developers in the last month

Would [agree](https://www.npmjs.com/package/browser-sync).

--------------

@addyosmani
![image](https://cloud.githubusercontent.com/assets/7369575/15685419/3443cb04-2731-11e6-8385-3bc65d399ad5.png)

--------------

Alright... I

[2016-05-31 18:18] FredKSchott commented on #230
This is definitely something we want to add support for, but recently we've had to prioritize other work (Windows support, etc). In the meantime, PRs are always welcome.

[2016-05-31 19:27] FredKSchott commented on #227
Hey @garcianavalon, looking into this now

[2016-05-31 20:15] Stefdv commented on #191
Any idea when this fix will be officially released?

[2016-05-31 20:33] 43081j commented on #227
I ran into this recently @FredKSchott, polymer-cli sends the input as `/my-el.html`. If it was `my-el.html`, polylint works fine (well, hydrolysis).

[2016-05-31 20:44] 43081j commented on #225
I noticed this too when adding my unused deps linter.

Seems to be that we should be passing a `filter` option [here](https://github.com/PolymerLabs/polylint/blob/master/lib/cli.js#L234). According to hydrolysis' API docs, this should be a function (so we should just ensure the path isn't in `bowerdir`?).

[2016-05-31 22:44] FredKSchott commented on #227
@43081j good catch, I was able to trace it there as well. We've done a lot of work with paths for windows, this was probably a casualty of that.

Fix has been submitted here: https://github.com/Polymer/polymer-cli/issues/227

[2016-05-31 22:55] FredKSchott commented on #224
Can you run `polymer test --verbose` and post the output here?

Polymer-cli defers to [web-component-tester](https://github.com/Polymer/web-component-tester) for it's test command, so if there is a bug here it's probably happening within there.

Post your output and I'll take a look on my windows machine tomorrow.

[2016-05-31 23:00] FredKSchott commented on #222
Hey everyone, taking a look now.

[2016-05-31 23:01] abdonrd commented on #222
Thanks @FredKSchott! 😃

[2016-05-31 23:26] FredKSchott commented on #222
@JGSolutions I think your issue is separate from what most people are running into here. Can you create a separate issue with `--verbose` output included, as well as steps to reproduce from a blank directory?

If anyone else is able to reproduce the `no resolver found for ...` build bug on Mac, please comment here. Otherwise, I'm going to assume this is a Windows issue since I am not able to repro

[2016-05-31 23:27] abdonrd commented on #222
My terminal is in Mac. :)

https://github.com/Polymer/polymer-cli/issues/222#issue-157318862

[2016-05-31 23:28] abdonrd commented on #222
@FredKSchott my terminal is in Mac: https://github.com/Polymer/polymer-cli/issues/222#issue-157318862 😅

[2016-05-31 23:34] FredKSchott commented on #222
@abdonrd ah interesting! Can you post your node version, `--verbose` output, and steps to reproduce in an empty directory? (ex: is it as simple as `polymer init application && polymer build`?) This would all be super helpful for finding the bug on my machine.

[2016-05-31 23:41] abdonrd commented on #222
@FredKSchott sure!

Node version: v6.1.0.

Give me a few minutes and I public the output.

[2016-05-31 23:51] abdonrd commented on #222
@FredKSchott I reinstall the polymer-cli, because I had the v0.8.0.
And... it works now. Magic! 😮

[2016-05-31 23:55] FredKSchott commented on #222
@abdonrd great! I'd love for us to get https://github.com/yeoman/update-notifier integrated into the CLI, so that these kinds of outdated issues are easier to spot.

Going back to the assumption that this is a Windows-only issue unless anyone else can reproduce.

[2016-05-31 23:57] abdonrd commented on #222
But when I had the actual version (v0.11.0) when I had this problem... 😕
Then, I downgrade to the v0.8.0 because it works.

[2016-05-31 23:59] FredKSchott commented on #222
@abdonrd are you saying that you can reproduce this problem on v0.8.0, but everything is working fine on v0.11.0?

[2016-06-01 00:02] abdonrd commented on #222
@FredKSchott no, haha!

When I created the issue, I had the version v0.11.0: https://github.com/Polymer/polymer-cli/issues/222#issue-157318862

Then I downgrade to the v0.8.0 because it works.

Now I uninstall the v0.8.0 and install the v0.11.0 to follow your steps, and it works.

[2016-06-01 00:05] FredKSchott commented on #222
huh, that's so strange... Lets chalk it up to npm weirdness and move on unless other users report it as well. Thanks for investigating!

[2016-06-01 00:12] abdonrd commented on #222
@FredKSchott yay! I found the issue (in my project, not in the `application` template). Output:

[code]

[2016-06-01 00:14] justinfagnani commented on #230
This is one of those features where I wonder if it belongs as a built-in option, or if it should be easy to add via a Gulp integration. We desperately need to define and implement our extension points, so I'm tempted to say that we should wait on this and see if it can help as a use case for extensions.

[2016-06-01 00:17] justinfagnani commented on #228
You can use `<platinum-sw-register>` if you like, but I'm not sure it's worth it. Just add a simple script to your index.html:

[code]

[2016-06-01 00:20] FredKSchott commented on #222
I can reproduce on Windows in Nove v4.4.5 /w the shop template. Looking into it...

@abdonrd can you reproduce on mac with any of the default templates? I'll need steps to reproduce on my machine to help you specifically. If not, hopefully fixing this on windows fixes it for you as well.

[2016-06-01 00:23] abdonrd commented on #222
@FredKSchott I haven't problems with `application`, `shop` and `app-drawer-template`.

If you want to try, I have my project here in GitHub: https://github.com/GDGSpain/gdg.es

[2016-06-01 00:49] abdonrd commented on #222
@FredKSchott maybe is related... In my project I have a `gulpfile.js`.
And when I do `polymer build`, the `gulpfile.js` is executed. 😕

![screen shot 2016-06-01 at 02 49 21](https://cloud.githubusercontent.com/assets/1007051/15695041/78183b2c-27a3-11e6-9415-d9c3ebafd55a.png)

[2016-06-01 00:59] JGSolutions opened #233 "Build complaining about package.json"
@FredKSchott
Steps to be reproduce. On a mac with node v4.4.5

1. npm install -g polymer-cli
2. mkdir my-app
3. cd my-app
4. polymer init app-drawer-template
5. polymer build --verbose

Results:
[code]

[code]

[2016-06-01 05:55] JPMoresmau commented on #224
I've turned off my anti virus, to be sure.

[code]

Been running for half an hour now... I see a node process running polymer.js, with no processor nor disk activity (did 4914 disk reads, 3 disk writes according to Task Manager).

[2016-06-01 06:58] Joe-torian commented on #222
Even i am facing the same issue. i am on a windows 10 running polymer-(v-0.11.0) , node.js- (v5.11.0)

[2016-06-01 07:20] RoXuS opened #234 "Supposed to be ok with javascript files compiled from babel ?"
Hi all,

Thx for your job on this tool.

Someone have used this tool with javascript files compiled from babel ? After a build, when I open the UI from the unbundled folder or the bundled folder, I get this error on each compiled components :
`x-app.html:10 Uncaught SyntaxError: Failed to execute 'registerElement' on 'Document': Registration failed for type 'e'. The type name is invalid.`

[2016-06-01 09:06] garcianavalon commented on #227
@FredKSchott thanks for the quick fix! :)

[2016-06-01 14:24] craftyc0der commented on #222
I too am seeing this error with Windows 7. I used npm to install polymer cli this morning.

[2016-06-01 16:39] Joe-torian commented on #222
i have reinstalled node, and polymer but the issue still remains . i guess i have to install the previous version of polymer like "abdonrd".

[2016-06-01 16:46] robdodson commented on #230
Yeah by all means, work on the extension points first :)

[2016-06-01 18:42] degroote22 commented on #215
@dehrax , I also had this issue... When I updated the CLI it gave me the above error. Have you tried updating?

[2016-06-01 20:32] notwaldorf opened #235 "Only configure a service-worker, but not build the app"
According to https://www.polymer-project.org/1.0/toolbox/service-worker, I ran `polymer build --sw-precache-config foo.json`.

I expected this to only configure my service worker, but instead it also generated the bundled/unbundled builds. I don't need those, since my project already has a jar full of gulp tasks for this.

[2016-06-01 23:41] Tecm0 commented on #222
Having a problem. It seems like it is trying to find the bower_components inside the src folder, even though that's not where it's located.

`W:\webapps\caleb-blog>polymer build --verbose
debug:   got args:
{ args: [ 'build', '--verbose' ] }
debug:   adding command build
debug:   adding command help
debug:   adding command init
debug:   adding command lint
debug:   adding command serve
debug:   ad

[2016-06-02 11:23] dehrax commented on #215
@degroote22 Still haven't figured it out. I ran polybuild instead...

[2016-06-02 19:43] FredKSchott commented on #222
Okay, I think I was finally able to find and fix the issue. I'll go into more detail in the PR, but the tl;dr was that the code is currently making incorrect assumptions about Node's ability to convert between Windows, Posix, and URL paths. This was causing polymer-cli to search for bad paths, like `src/bower_components/polymer/polymer.html` that @Tecm0 spotted.

PR incoming, and thanks again for

[2016-06-02 19:49] abdonrd commented on #222
Thanks @FredKSchott! :)

[2016-06-02 20:56] jokeyrhyme commented on #187
If this is related to https://github.com/nodejs/node/issues/5384 then I have a module that helps identify broken versions of Node:

- https://github.com/jokeyrhyme/is-node-interactive-tty-broken

Do you think it might be worth integrating a similar check into this library? So that a warning or something could be displayed? Or perhaps modifying the "engines" part of package.json to help avoid broke

[2016-06-03 01:46] #222 closed

[2016-06-03 02:21] FredKSchott commented on #222
This has been fixed in v0.11.1, which was just pushed out to npm. Please update and confirm that build now works as expected for you, and create a new issue if it does not.

[2016-06-03 06:00] ketile commented on #222
Can confirm that `polymer build` with v0.11.1 works on my Windows 7 machine. Thanks a lot.

[code]

[2016-06-03 06:09] tennosys commented on #222
Finnaly. Thanka allot
On Jun 3, 2016 1:00 PM, "Ketil Erichsen" <notifications@github.com> wrote:

[2016-06-03 07:17] abdonrd commented on #222
Sorry @FredKSchott... But with the new version v0.11.1 I still have the same problem. :(

[2016-06-03 07:31] Joe-torian commented on #222
thanks @FredKSchott . its solver for me and i am on a windows-10 machine .

[2016-06-03 08:20] uribevincent commented on #222
I updated npm and polymer-cli but the issue is still here...

[2016-06-03 08:51] Tecm0 commented on #222
That update fixed the issue for me. Thanks!

[2016-06-03 16:03] FredKSchott commented on #222
@abdonrd looking at building on your project now
@uribevincent can you create a new issue with your environment info, `polymer build --verbose` output, and steps to reproduce?

[2016-06-03 16:49] FredKSchott commented on #222
@abdonrd Your problem is that you're import hrefs are absolute paths (`/bower_compontents/xxx.html`& `/src/yyy.html`). Try changing these to relative paths (`../bower_components/xxx.html` & `yyy.html`) in your `src/` directory files and see if that helps.

That is the path format that `polymer build` expects, so that it can remap those for you.

[2016-06-03 18:20] FredKSchott commented on #233
Right now we step up your directory to find and then load a gulpfile. It looks like you have one in `/Users/jerrygag/Desktop` which then tries to load plugins that it cannot find. Do you know if this gulp file throws the same error when run directly?

The advise right now would be to not run build in a project that has a gulpfile nested in a directory above it. Alternatively, you could create a bl

[2016-06-03 18:21] FredKSchott commented on #233
@justinfagnani this seems like pretty unexpected behavior, what's the use case for searching directories above the cwd or root?

[2016-06-04 11:00] JGSolutions commented on #233
Oh yes I do have the gulpfile which I have no clue why it's there. I think I copied it there because I needed it for reference. It's been awhile.

I removed it and the build works!

Thanks

[2016-06-04 17:16] abdonrd commented on #222
@FredKSchott wow! 😮 Thanks! Now it works!
I thought I had to have absolute paths in the `src` directory.
Maybe it would be nice to document it.

[2016-06-04 19:37] jwuliger commented on #224
Just an FYI. `polymer test` (Windows 10 Ent, Node 6.2) took about 5 minutes for it to show it was doing anything. It did work though. IE 11 fails, but hey were are talking about IE here ;). Also worth noting I ran `polymer test` on the shop app. I am still playing with all the new toys!

[2016-06-04 19:42] jwuliger commented on #191
No issues here. Strange. I am running Win 10 Ent. Insider Build 14352, Node 6.2, NPM 3.9.6 and CMD as Admin. It built and served with no issues. I hope that helps in some way.

[2016-06-05 06:27] mustafa-zaman commented on #190
I am having same issue. Just wondering what is the way around. FYI: I am new at Ubuntu.

[2016-06-05 13:25] chuckh commented on #32
If we fork or use ship as a base I would encourage us to use javascript instead of coffescript.

[2016-06-05 13:35] chuckh opened #241 "Don't copy all bower_components in build process"
Currently the `polymer build` process copies all bower_components files to build/bundled even though most are vulcanized.  For PSK2 this lengthens the build process on my MacBook Pro Retina to 58 seconds from 18 seconds.

In PSK1 we do the following:

[code]

[2016-06-05 18:59] JGSolutions commented on #230
Quick question! So if I started a project and I am half way through it. Then eventually this browsersync feature gets added to the polymer-cli will it be easy for me to update my current project?

By doing this: npm update -g polymer-cli will it do the job?

[2016-06-05 19:07] oneezy commented on #230
@JGSolutions , have a look at this discussion..it goes into a bit more depth of how things are going to be handled. #835

[2016-06-05 22:00] Scarygami opened #242 "[polymer lint] not finding behaviors"
Unless explicitely marked up as `/** @polymerBehavior NameSpace.Behavior */` lint will give warnings like "Behavior NameSpace.Behavior not found when mixing properties into my-element!" andwon't take properties/functions defined in the behavior into account when looking for missing definitions.

It's probably enough to address this "issue" in the docs (e.g. in the [docs for behaviors](https://www.

[2016-06-06 12:32] SPAHI4 opened #243 "How to use autoprefixer, babel with this tool?"
es6 is really awesome and i cant imagine back to old js

[2016-06-06 18:10] SayChunKim opened #245 "[FIX] SyntaxError: Unexpected Token < <Line 1> in index.html"
After `polymer init` and `polymer serve`project in CLI,

`"Uncaught SyntaxError: Unexpected token < "` in first line of index.html

**Recommended fix:**
Add `type="javascript"` under webcomponents-lite.js script tags for resolving the issue

[2016-06-06 18:19] FredKSchott commented on #245
Which template are you initializing from? Can you include steps to reproduce from scratch?

[2016-06-07 00:07] #176 closed

[2016-06-07 00:10] chuckh commented on #241
Also when using this above approach to build and then deploying PSK 2 to Firebase the process went from 3 minutes and 58 seconds to 57 seconds. Firebase deploy went from copying 2700 files to 126 files.

[2016-06-07 00:11] justinfagnani commented on #230
We're working on the hooks now, we'll see where this fits in after they're in.

[2016-06-07 06:45] antonmoiseev commented on #241
For firebase deploy we use "ignore" property in firebase.json file.
https://firebase.google.com/docs/hosting/deploying#ignore
On Jun 7, 2016 3:10 AM, "Chuck Horton" <notifications@github.com> wrote:

[2016-06-07 08:04] SayChunKim commented on #245
@FredKSchott thanks for pinpoint. It's from application template

1. `polymer init`
2. select `> application`
3. `polymer build`
4.  `polymer serve` and F12

Problem reproduced with latest polymer CLI and Ubuntu 14.04

[2016-06-07 08:29] addyosmani commented on #241
I think in reality, we're going to have users who deploy to different possible end-points with Firebase being just one (PSK1 was most often deployed to GAE). It would be great to come up with a generic approach to this (like we had in PSK1) that avoids having to deploy thousands of files.

[2016-06-07 11:00] chuckh commented on #241
@antonmoiseev thanks for pointing that out. The only problem with using `ignore`  for `bower_components` is that you don't want to ignore the entire directory you need to do it selectively, not `webcomponentsjs,platinum-sw,sw-toolbox,and promise-polyfill` but all other components.  So it makes for a very long `ignore section`.  Also it does not address the issue for other platforms such as GAE, an

[2016-06-07 11:45] kenchris opened #247 "error: Promise rejection: AssertionError: A name parameter is required to create a storage"
Just installed polymer-cli following the instructions, then when I try it in my test/ dir, I get the following errors.

test (master)$ polymer init
? Which starter template would you like to use? app-drawer-template
info:    Running template app-drawer-template
error:   Promise rejection: AssertionError: A name parameter is required to create a storage
error:   AssertionError: A name parameter is

[2016-06-07 12:47] antonmoiseev commented on #241
@chuckh definitely agree, we need a generic mechanism for filtering out build assets. Just noticed you mentioned Firebase and since we had the same issue, I shared the solution that works quite well for us. In our case ignore list is not really long ~10 lines. We exclude the entire `bower_components` directory, but explicitly negate the files we want to be included. Take a look at `webcomponents-l

[2016-06-07 16:10] craftyc0der opened #248 "Polymer Build Error when including polymerfire"
This error prevents the building of an bundled package.
Reproduce by adding polymerfire to bower.json
`"polymerfire": "firebase/polymerfire#^0.9.2",`
Error:

debug:   no file for ../bower_components/firebase-sdk/index.js :(
debug:   No file found for ../bower_components/firebase-sdk/index.js
debug:   no file for ../bower_components/promise-polyfill/Promise.js :(
debug:   No file found for ../bower

[2016-06-07 16:32] chuckh commented on #241
@antonmoiseev thanks for sharing the ignore approach!

I created this firebase.json based on your example for PSK2 deploying to Firebase.
[code]

[2016-06-08 06:35] curtiscovington opened #249 "Elevation doesn't appear to work in app-drawer-template"
Initing a default app-drawer-template, installing paper-fab element/anything with an elevation, and implementing the bare minimum to show said element without changing anything else on the views will produce the element with the exception that the elevation does not work. It works fine for polymer init application. As far as I can tell its only a problem with app-drawer-template.

[2016-06-08 06:54] curtiscovington commented on #249
Importing the element from my-app.html appears to fix the issue, but shouldn't elements only be imported on a view by view basis?

[2016-06-08 06:57] curtiscovington commented on #249
I believe it is related to this issue: https://github.com/Polymer/app-drawer-template/issues/19

[2016-06-08 06:57] #249 closed

[2016-06-08 10:28] Scarygami commented on #248
Building with polymerfire works for me. Maybe delete your `bower_components` folder and do another `bower install` to make sure all dependencies are fetched correctly?

[2016-06-08 10:51] craftyc0der commented on #248
I have, but I'll do it again. FYI, it failed on both windows 7 and 10. Stand by for a more detailed procedure to recreate failure. I started with one of the new demos, so there may be a strange dependency issue.

[2016-06-08 12:16] leninmehedy commented on #226
encountered the same issue

[2016-06-08 12:18] SPAHI4 opened #250 "build error: Cannot find module 'sw-toolbox/sw-toolbox.js'"
[code]

[2016-06-08 12:20] SPAHI4 commented on #250
I have installed sw-toolbox package in bower and as global in npm but nothing changes

[2016-06-08 12:52] craftyc0der commented on #248
My apologies. This is related to a bad build file for the polymer-cli. Adding Firebase appeared the proximate cause but I was in error. Thank you for your efforts!

[2016-06-08 12:52] #248 closed

[2016-06-08 18:13] justinfagnani commented on #250
Seems like the npm install might have failed. sw-toolbox does not need to be a global install.

[2016-06-08 18:15] justinfagnani commented on #243
We're working on making the internal steps of the build pipeline available to import into a gulefile, where you can plug in any other compilers or processors that you want. I'll update this issue with the tracking issue for that work.

[2016-06-08 20:01] addyosmani commented on #250
The last release of toolbox changed the path for this dep. We have an open bug to restore it to what it was before. I'd hold off a day or two and this should be resolved.

[2016-06-08 21:45] justinfagnani commented on #250
Ok, we're blocked on https://github.com/GoogleChrome/sw-toolbox/issues/143 then

[2016-06-08 21:47] justinfagnani commented on #250
@addyosmani holding off a day means that new installs of CLI are broken during the next day. I suppose we should hard-code a version?

[2016-06-08 21:55] justinfagnani commented on #241
Just to clarify why we include all of `bower_components` in the build output: In general there's no way of knowing what dependencies will be needed at runtime - that's completely dependent on application code, and so the most conservative and safe thing to do is write all of the files.

We can add an option to filter files after the bundling step.

[2016-06-08 21:56] justinfagnani commented on #247
I'll try to reproduce this today.

[2016-06-08 22:24] justinfagnani commented on #247
@kenchris can't reproduce yet. Can you tell me more about your environment? What OS and node version are you using? Do you have a bower.json or package.json in this folder?

[2016-06-08 22:27] kenchris commented on #247
Sure, latest Ubuntu, Node.js v5.11.0

[2016-06-08 22:27] kenchris commented on #247
I ran this inside my existing project which you can actually check out, if that helps:

https://github.com/01org/webnfc-shoppingcart-demo

I can it inside app/ I believe and also tried in root first

[2016-06-08 22:30] kenchris commented on #247
23 var Storage = module.exports = function Storage(name, fs, configPath) {
 24   assert(name, 'A name parameter is required to create a storage');

It is failing on this line, so name must be null or undefined somehow.

[2016-06-08 22:36] kenchris commented on #247
The this.appname inside /usr/lib/node_modules/polymer-cli/node_modules/yeoman-generator/lib/base.js +157 seems to be fine, as it is the same as the current directory.

But the rootGeneratorName is undefined:

663 Base.prototype._getStorage = function () {
664   var storePath = path.join(this.destinationRoot(), '.yo-rc.json');
665   console.log(this.rootGeneratorName());
666   return new Storage(th

[2016-06-08 22:39] kenchris commented on #247
So that must be the issue, that name is set to '' somehow (project is based on PSK)

Notice the ```  name: '',```

[code]

[2016-06-08 22:40] kenchris commented on #247
Now I don't have name set in the package.json so it must be inferred from somewhere else.

[2016-06-08 23:42] carofe82 commented on #226
I found same issue:
1)

[code]

2) Open the browser (e.g. Chrome) on http://localhost:8080/

3) Open the Developer Tools and see the GET http://localhost:8080/shared-bundle.html 404 (Not Found)
And the generated index.html has this:

[code]

[2016-06-08 23:43] justinfagnani commented on #247
It's probably that there's a package.json at all. Yeoman is inferring the name, @addyosmani do you know if Yeoman has trouble with package.json with no name field?

[2016-06-08 23:45] justinfagnani commented on #247
Ok, reproduced now, I think I have a fix.

[2016-06-09 09:38] LostInBrittany opened #253 "[Install] Error: Maximum call stack size exceeded"
I wanted to update `polymer-cli` to the last version, so I did a `npm install -g polymer-cli` and the install failed with a rather cryptic *Maximum call stack size exceeded* error.

Running it on an Ubuntu 16.04, with Node 4.2.2 and npm 3.4.1binaries manually installed from nodejs.org (not using the ubuntu package).

The full response of npm:

[code]

I'm updating my node and npm to a more recent

[2016-06-09 09:45] LostInBrittany commented on #253
I switched to npm 3.9.5 and the problem isn't there, switched back et 3.4.1 and the problem was back, so I guess it's some weird npm related issue.

I guess I should be closing it, and keeping it in the closed issues list as a cue to other people finding the same problem...

What do you think?

[2016-06-09 10:24] LostInBrittany opened #254 "Build time for complete apps?"
I've used polymer-cli to create a PWA version of a dashboard app that I'd built with Polymer (using pages.js as router...). I've begun from scratch, and imported only the components needed for the new app, using the app- elements when possible (router, par exemple).

Everything is great, except the building phase, that takes more than 5 minutes !

In the old app I used vulcanize as build tool, it

[2016-06-09 16:41] jay8t6 commented on #191
happening to me on a mac too.. when will this be released?

[2016-06-09 17:03] atishpatel opened #256 "BaseURL Support"
Is there a way to use a baseURL with this tool?

Currently, the service worker keeps sending a request to src/my-app.html. If I change the polymer.json file to reflect the baseURL, it gives an error because it can't find the files.

[2016-06-09 17:06] justinfagnani commented on #250
This should be fixed upstream now: https://github.com/GoogleChrome/sw-toolbox/issues/143#event-687152248

@SPAHI4 can you try a fresh install?

[2016-06-09 17:13] justinfagnani commented on #256
@atishpatel what are you changing in polymer.json?

[2016-06-09 17:15] justinfagnani commented on #254
It's a little slow right now, but we haven't seen 5 minutes, usually on the order of a few seconds.

We know that we run the analyzer and vulcanize multiple times during the bundling phase. This should scale with the number of fragments. Hw many fragments do you have? Do you see the same long times with just an entrypoint?

[2016-06-09 17:16] justinfagnani commented on #253
Let's close, since we can't possibly keep all issues that might be relevant open. Hopefully people can search closed issues :)

[2016-06-09 17:16] #253 closed

[2016-06-09 17:27] atishpatel commented on #256
Sorry for not being specific enough.

So here is what works:
[code]
This builds but service worker keeps fetching stuff from /src/* and /bower_components/* instead of /gigachef/*
Changing the paths in polymer.json to 'gigachef/src/*' doesn't work because the tool starts looking for the gigachef dir, which is as expected.
I guess a clearer question would be 'Is there a way to use baseURL with polym

[2016-06-09 17:54] #247 closed

[2016-06-09 18:45] #227 closed

[2016-06-09 18:49] justinfagnani commented on #242
This issue should probably be upstreamed to https://github.com/PolymerLabs/polylint/ but we'll track here as well.

@garlicnation any thoughts here?

[2016-06-09 19:04] justinfagnani commented on #245
I'm unable to reproduce. @SayChunKim do you have any more specifics on your environment?

[2016-06-09 19:05] justinfagnani opened #258 "Add Github issue template"
We need to collect node, npm and OS version info, and sometimes the output of `npm list`.

[2016-06-09 19:06] FredKSchott commented on #245
@SayChunKim can you also explain the bug & your fix a bit more? Does this error occur in the CLI, or on the page being served? And including `type="javascript"` on all script tags in the application solves the problem?

[2016-06-09 19:06] justinfagnani opened #259 "Add a shrinkwrap file"
We should try to ensure that npm installs the versions tested on CI. Shrinkwraped installs should be reproducible given a fresh install.

[2016-06-09 20:42] summers173 commented on #167
Same error here on windows 10, polymer --version 0.11.1, nont the shop or app-drawer-templates works

[2016-06-09 20:47] summers173 commented on #167
By the moment you can:

git clone https://github.com/Polymer/app-drawer-template.git

[2016-06-09 20:47] CTOJoe commented on #254
We also have tried switching from vulcanize to polymer cli and are experiencing build times of over 5 minutes. This is also on pretty performant machines. Could build time essentially be cut in half if there was a flag to compile just bundled or unbundled?

[2016-06-09 21:49] almielczarek commented on #245
I have encountered the same issue but it found a different fix. The version of polymer I am using is 1.5 and I am on Windows 7.

The "element" template has some issues with the relative links on the imports. If you initialize the template then serve it and go to the demo page in your browser then check the network tab the developer tools in chrome it will show that instead of the webcomponents-lit

[2016-06-10 14:19] edoardo849 commented on #222
@FredKSchott still having issues with that, this time with remote CDN libraries (socket.io and googleCharts):

error message:
[code]

I have the import on:
[code]

[2016-06-10 16:59] justinfagnani commented on #245
Ah... this makes a lot more sense. Thanks for digging into it @almielczarek!

[2016-06-10 17:04] justinfagnani commented on #259
This should prevent issues like #250

[2016-06-10 17:04] #250 closed

[2016-06-10 17:06] justinfagnani commented on #254
Even half the time at 2.5 minutes is far too long. I'd like to figure out what it is about the project or environment that's causing such long builds. Could we see some package.json dependency sections and maybe we can reproduce ourselves?

[2016-06-10 17:10] justinfagnani commented on #233
@FredKSchott I think looking outside of the project directory is crazy, and we shouldn't do it. But... the utilities that npm and gulp themselves use do this, and so we get that for free, fun! I think when we search for a gulpfile, we could stop if we find a package.json. This will still do fun things in some situations, but they should be much more rare.

[2016-06-10 17:13] justinfagnani commented on #222
@edoardo849 this is a separate issue. Opening a new one.

[2016-06-10 17:14] SPAHI4 commented on #250
@justinfagnani works fine 👍🏼

[2016-06-10 17:15] justinfagnani opened #261 "External domains in script tags breaks build"
As reported by @edoardo849 in #222

[code]

Causes an error due to no resolver being found.

@garlicnation is the standard practice to add a resolver that ignores these URLs?

[2016-06-10 17:37] LostInBrittany commented on #254
That works be great, right now I have no use for the unbundled, I'd really
like the flag 😊
On Jun 9, 2016 10:47 PM, "Joe Burger" <notifications@github.com> wrote:

[2016-06-10 18:09] LostInBrittany commented on #254
I can send you a bower.json and a package.json tomorrow, if it can help.
On Jun 10, 2016 7:06 PM, "Justin Fagnani" <notifications@github.com> wrote:

[2016-06-10 19:03] justinfagnani commented on #32
Or TypeScript :)

So far we've found people can jump right in.

[2016-06-10 20:01] justinfagnani commented on #258
Fixed by #262

[2016-06-10 20:01] #258 closed

[2016-06-10 20:01] justinfagnani commented on #256
Got it. Thanks for the clarification. We'll work on this.

[2016-06-11 00:02] JosefJezek opened #263 "Add support for symlinks"
Could you add support for symlinks? I have created symlink `src/app-themes/current-theme` to `src/app-themes/default-theme` on Linux. I get error by running `polymer build`...

[code]

I need for PWA template https://github.com/StartPolymer/progressive-web-app-template

[2016-06-11 03:46] innomon commented on #250
Thanks ! worked for me too  :+1:

[2016-06-12 22:32] tony19 opened #265 "`polymer build` includes extraneous files in output"
### Description
The `polymer build` command includes extraneous files (i.e., `test/*`, `README.md`, `bower.json`, `polymer.json`) in the `build/bundled` and `build/unbundled` output directories.

### Versions & Environment
- Polymer CLI: 0.11.0
- node: 6.2.1
- Operating System: OS X El Capitan

#### Steps to Reproduce
 1. Run `polymer init app-drawer-template` in a new directory.
 2. Run `polymer

[2016-06-13 08:00] jongmana opened #266 "App-drawer-template issues"
Setting up a project with <code>polymer init</code> based on the "app-drawer-template" and running <code>polymer lint</code> afterwards, a lot of feedback will be the result, while non was expected.

    Property 'routeData' bound to attribute 'data' not found in 'properties' for element 'my-app'
/src/my-app.html:66:5
    Property 'subroute' bound to attribute 'tail' not found in 'properties' for

[2016-06-13 15:16] RoXuS commented on #234
Ok sorry, it was a misunderstanding of my part. It works when I crisper/transpile AFTER the polymer build, I did that before the build.
Thx.

[2016-06-13 15:16] #234 closed

[2016-06-13 19:36] Nevraeka opened #267 "ES6 Vanilla Web Component Template Feature"
### Description

I wanted to automate creation of vanilla web components I'm building. This feature would do that using the Polymer CLI. As a hackathon project [I forked polymer-cli and added a template, tests, etc](https://github.com/Nevraeka/polymer-cli/commit/e6eb0c16113848547798fc4c06dbab0da143d623). My work is from a hackathon...so its needs to be a bit refined. I was just going to submit a P

[2016-06-13 19:40] Nevraeka commented on #267
cc @revillweb @treshugart @JanMiksovsky @deebloo

[2016-06-13 19:45] justinfagnani commented on #267
You don't have to fork the CLI to add tempaltes. Just publish an npm module that starts with the name `generator-polymer-init-`.

[2016-06-13 20:23] Nevraeka commented on #267
@justinfagnani - thanks. I'll look on NPM for examples. Anything special I should know about publishing these?

[2016-06-14 01:32] vaadin-marcus opened #268 "Add file information to error messages"
I'm building a bundled project with `polymer build` on 0.11.1 and it fails with the following error:

[code]

It would be very helpful for debugging if the error message could contain information on the file that failed similar to warning messages. I'm sure the actual error is in my code or it's dependencies, but it would be very helpful to get more debug info.

[2016-06-14 01:37] vaadin-marcus commented on #254
I have an app that was initially built with PSK that I'm now migrating to use Polymer CLI.

With the PSK `gulp` build target, a full build too 18s, of which 16s was vulcanize. With `polymer build` the bundled build takes 2.5minutes+ (it crashes at that point).

It seems like it's trying to uglify and include everything in the `bower_components` folder, including demos, which certainly brings up th

[2016-06-14 11:53] RevillWeb commented on #267
Hi @justinfagnani is there any documentation for the npm modules? I'd like to help @Nevraeka out with this. Thanks for your time.

[2016-06-14 19:20] justinfagnani commented on #267
@RevillWeb the README mentions it, but it's just a normal yeoman generator with a package name prefix of `generator-polymer-init-`. That's about all the docs would have in it.

[2016-06-14 19:41] justinfagnani commented on #266
The structure we've been using is most everything in `src/` and `index.html` at the top level. Where do you see a structure that has an `app/` folder?

[2016-06-14 19:41] justinfagnani commented on #266
Also, we're making lint work for lazy loaded fragments... See #139

[2016-06-14 21:21] jongmana commented on #266
I would expect that the app-drawer-template would be based on the application template.
That most everything is in the <code>src/</code> folder therefore seems inconsistent with the structure described on the polymer site under "creating an app project". According to that description I would expect the my-app.html within a folder called <code>src/my-app/</code> and the my-icon.html / my-view<i>#</

[2016-06-14 21:21] justinfagnani commented on #268
By any chance do you have a repro for this so we can make sure we get the file info here?

[2016-06-14 21:43] vaadin-marcus commented on #268
Here you go, just run `polymer build` on this.

I narrowed down the issue in this particular case to an incorrect stylesheet in our `vaadin-grid` demo folder (`bower_components/vaadin-grid/demo/common.css`). The dependency version is set to a version that still has the issue present.

I was hoping we could come up with a way to show file info (and maybe even line) more generally when errors occur

[2016-06-14 22:10] justinfagnani commented on #245
@almielczarek I just realized that you are talking about the element template. Right now we don't support  the application workflow with reusable elements. That means two things:

  1. You can't build a reusable element - elements should be built in the context of an app, because we can't know that some dependency that would be bundled with the element isn't also used somewhere else, and we can't

[2016-06-14 22:15] justinfagnani commented on #268
I just dug in, and one problem here is that some of these errors are occurring in support libraries, which themselves are doing file crawling. There's no change we can make in CLI to fix this particular one, Hydrolysis needs to be updated. We might want to turn this into a tracking bug for each error that doesn't have associated file info.

[2016-06-14 22:47] vaadin-marcus opened #269 "Build adds leading slashes to relative paths to resources defined in sw-precache-config.js"
I'm deploying to Github pages which means I'm not able to deploy to the root of the server. It seems that the templates and build scripts assume that apps will deployed in the root. I sent a PR for app-drawer-template (https://github.com/Polymer/app-drawer-template/pull/22), but even with those changes in place I was having issues getting the service worker to pre-cache resources.

Even though I r

[2016-06-15 00:10] philipbeadle commented on #225
I linted the Polymer shop and all of the files that rent Polymer elements show up as errors.  I'd like to be able to ignore these in the linting.

[2016-06-15 04:38] cdata commented on #265
I would like to propose that this be the standing feature issue for implementing ignore lists for files.

[2016-06-15 04:42] cdata commented on #235
I would also like the ability to generate the service worker discretely.

[2016-06-15 16:45] FredKSchott commented on #267
@RevillWeb @Nevraeka check out http://yeoman.io/authoring/ for a how to on writing your own Yeoman generator. As long as it's name follows the  "generator-polymer-init-*" pattern and is installed globally, `polymer init` will pick it up and offer it as an option.

Good luck! If you have any polymer questions while building, feel free to check out our [Slack Channel](https://bit.ly/polymerslack)

[2016-06-15 16:45] #267 closed

[2016-06-15 17:59] herebefrogs opened #272 "Application template - bower_components installed under incorrect directory prevents app from loading"
### Description
The base Application template doesn't work because _index.html_ attempts to load _webcomponents-lite.js_ from:
[code]
However, _bower install_ happening automatically during _polymer init_ puts all the components under:
[code]
Instead of (as expected by _index.html_):
[code]
Adding the following _.bowerrc_ to the Application template and running _bower install_ again allows the app

[2016-06-15 18:03] cdata opened #273 "Feature request: configure effective web root"
I would like to be able to configure the Polymer CLI to treat a sub-directory of my project as the effective web root when building assets. Assuming the following contrived structure:

[code]

And the following contrived contents of `index.html`:

[code]

I would like to configure my `polymer build` step so that it correctly treats the web root as `public` (not the root of my project directory).

[2016-06-15 18:48] herebefrogs commented on #272
Sigh. Nevermind... I had another .bowerrc, inherited from the Polymer Starter Kit 1.3.0, higher up in a parent directory which I had failed to remove and was instructing bower to install components under _app/bower_components_.

[code]

So it's a user bug, not a Polymer-CLI bug

[2016-06-15 18:48] #272 closed

[2016-06-15 20:49] MrTeutonic commented on #261
Sounds related and might help to find a solution: I use App drawer template and use firebase-app.html and polymerfire.html.
Have done quite some mondification to the code including changes from my-app to myname-app and so on.
Now, during first time polymer build I get an error:
[code]

[2016-06-15 21:23] joaovieira commented on #245
@justinfagnani I just ran into the same issue. `polymer serve` does not work for the element template (does not map /bower_components/) as you're probably aware.

What's the current suggested workflow/process?

I just tried to serve an app from another port and importing from `http://localhost:8080/components/my-el/my-el.html` but it's blocked by CORS. There doesn't seem to be a cors options for t

[2016-06-15 21:42] joaovieira commented on #245
Nevermind.. read your last comment twice and figured it out 😬

Opening `http://localhost:8080/components/my-el/` and `http://localhost:8080/components/my-el/demo/` work just fine.

[2016-06-16 09:30] atomikolex opened #275 "polymer init errors out"
### Description
Trying to polymer init the app-drawer-template or any other init option gives these errors:
[code]

### Versions & Environment
- Polymer CLI: 0.11.1
- node: 5.1.0
- Operating System: Ubuntu 16.04, 32-bit

#### Steps to Reproduce
polymer init from an empty project folder, select any option

#### Expected Results
No error is thrown

#### Actual Results
Error is thrown

[2016-06-16 12:17] doctor-g commented on #33
I see this same error, with the following stack trace, running `polymer build` with Node.js version 6.2.1 on Linux.
[code]

[2016-06-16 12:33] doctor-g opened #276 "Error on running polymer build: only one instance of babel-polyfill is allowed"
### Description
When running `polymer build`, the following stack trace is produced:

[code]

This happens with a vanilla app generated from `polymer init` as well as with my own app based on the shell.

### Versions & Environment

- Polymer CLI: 0.11.1
- node: 6.2.1
- Operating System: Linux Mint 17 (64-bit)

#### Steps to Reproduce
1. polymer init (choose application, use defaults)
2. polymer bu

[2016-06-16 12:55] AliMD opened #277 "[feature request] flexible app structure"
Could you please add some option for flexible app structure
I'm trying to change folder structure to polymer starter kit but i can't move my files to app folder
Polymer-cli need to access `bower.json` and at root then i must run `polymer serve` in root but i need to move my index file to app folder and need something like this in configuration
[code]
 Thank you in advance

[2016-06-16 13:24] AliMD commented on #277
I found `root` config in the source but its different with serve `baseDir` and make issue with access `bower.json`

[2016-06-16 13:34] AliMD opened #278 "[feature request] add option for change components url"
We usually rename `bower_components` to `components`
And I can't load `/components` anymore because it conflict with polymer-cli components url
Could you please add an option for change components url
And/or disable this feature or/and log warning if the `components` folder exist

I will happy to contributing if it can't be in the active milestone.

[2016-06-16 13:38] addyosmani commented on #278
Hmm. I wonder if it makes sense to respect a local `.bowerrc` if one is defined for this use-case. That said, unsure how much @justinfagnani wants to support configuring package paths so deferring to him for more thought here.

[2016-06-16 13:39] abdonrd commented on #277
Reference: https://github.com/Polymer/polymer-cli/issues/273

[2016-06-16 18:06] akc42 commented on #219
My most important issue is that I am getting some failures
[code]
This is the first, there is a second failure similar but different.  The net result is my build/bundled and build/unbundled src directories are missing files from the back end of the alphabet.

The file I think it is failing on is not referenced anywhere down any html import chain from either the shell or any fragment, its just sitt

[2016-06-17 16:05] milesje opened #281 "build fails TypeError: Cannot read property 'is' of null"
### Description
Build fails with Uncaught exception: TypeError: Cannot read property 'is' of null

### Versions & Environment
- Polymer CLI: v0.11.1
- node: v6.2.1
- Operating System: Debian Jessie

#### Steps to Reproduce
run command: polymer build

#### Expected Results
Polymer build of bundled and unbundled versions.

#### Actual Results
Error is thrown

[2016-06-18 14:20] milesje commented on #281
I wonder if it is blowing up on some element that I have installed. I created a fresh project and performed the polymer init (chose app-drawer-template) and then ran polymer build and it works.  So I will experiment with adding each element and then performing a build to see what element is causing the build to error out. I am suspecting that it is the Vaadin-grid but I will make sure.

[2016-06-19 06:10] idosh opened #282 "Polymer test keeps failing"
### Description
When running `polymer test` it always fails even before running the tests

### Versions & Environment
- Polymer CLI: 0.11.1
- node: 5.11.1
- Operating System: Ubuntu 16.04

#### Steps to Reproduce

1. Create an app-drawer project: `polymer init app-drawer-template`
2. Test: `polymer test`

#### Expected Results
Tests should pass

#### Actual Results
One of the three errors:
- Unabl

[2016-06-19 06:26] idoshamun opened #283 "Add hash to file names after building"
The best practice for managing cache is to change the file name when it is being updated.
This way, one can set the cache to never expire because the file is immutable.
It would be great to see it implemented in polymer-cli.

Take a look at [gulp-rev](https://github.com/sindresorhus/gulp-rev) as an example.

[2016-06-19 15:00] vaadin-marcus commented on #281
@milesje – yes, there was a syntax error in a CSS file in one of `vaadin-grid`'s demos (not sure why they get parsed at all by the CLI). See https://github.com/vaadin/vaadin-grid/issues/382

You can use master for now, we should get a new release out shortly.

[2016-06-19 16:19] srveda commented on #222
I had the `Promise rejection: Error: no resolver found`

But when I changed
`<link rel="import" href="/src/component1.html">`
to
`<link rel="import" href="../src/component1.html">
`
the build was complete with no errors.

[2016-06-20 05:12] ralcar opened #284 "Lazy loading dependencies not loaded correctly"
Polymer: 0.11.1
Node: 5.5.0
Operating System: Windows 10

How to reproduce:
1) run polymer init and select the app-layout with "app-drawer-template" (prpl pattern loading)
2) bower install the paper button with : bower install --save PolymerElements/paper-button
3) To the src/my-view1.html file, add an import to paper-button

<link rel="import" href="../bower_components/paper-button/paper-button.h

[2016-06-20 05:39] naoak commented on #284
I believe this is dupe of #249 and the root cause is https://github.com/Polymer/polymer/issues/3705. One of workarounds is manually calling Polymer.updateStyles() after imported.

[2016-06-20 06:51] ralcar commented on #284
Ah ok, thank you, was unaware of this

[2016-06-20 14:04] LostInBrittany commented on #254
I've just updated to `polymer-cli` v. 0.11.1 and the same build that took 5 minutes takes instead 2 minutes. And that's *great* !!!

[2016-06-20 18:42] aglusk commented on #215
Just in case it's helpful - the error is different if a root (polymer build --root . ) is specified.
 No file found for C:\Users\<...>my-app\Users\<...>my-app\src\my-elem.html
vs
No file found for Users\<...>my-app\src\my-elem.html

[2016-06-21 00:46] AliMD commented on #278
@addyosmani Thank you

@justinfagnani i know its not have any priority then if you permit and make little help I will happy to contributing

[2016-06-21 01:03] mbleigh commented on #265
I would like to propose that the cli-generated app template use a `public` or `app` directory instead of putting application files at the same level as `README.md` etc. As much as I love the idea of the simplicity of the Polymer CLI, I can't really use it the way I want as-is.

[2016-06-21 04:45] mario-aleo commented on #284
This workaround works even better if you call it on the attached event from the lazyloaded component

[2016-06-21 09:22] abdonrd commented on #265
@mbleigh I agree to have a `public`/`app` directory. :)

[2016-06-21 12:51] LoveAndHappiness commented on #275
I believe this error has been fixed here: https://github.com/Polymer/polymer-cli/issues/247

And the fix will be released with the next minor version 0.12.0

Is there already a release schedule @justinfagnani for 0.12.0?

[2016-06-21 13:01] atomikolex commented on #275
I am getting the same errors, so maybe it's the same issue. I am not running init in an existing project with a present package.json though. Was just following the recent Polycast on the CLI and ran it inside an empty folder.

[2016-06-21 13:56] jimbojetlag commented on #283
How is the current build system designed when it comes to caching? After building and deploying a new version, how does the user get the new version, while the old ones are cached, and the file names are the same?

The documentation about this is non existent.

[2016-06-21 14:00] jimbojetlag commented on #265
Please, could the developers of the current deploy design explain why is it this way? Why would I want to publish my tests, internal README, together with all bower package dependencies and their tests and demos to the whole world?

Would it be possible increase the priority of this issue to high? The outcome of the build command is barely deployable.

[2016-06-21 15:37] manufosela commented on #181
By the moment I've fixed it commenting the 2 first "asserts" in NODE_PATH/lib/node_modules/polymer-cli/node_modules/yeoman-generator/lib/util/storage.js

[code]

I don't know if it was a good idea, but it works.

[2016-06-21 21:38] FredKSchott commented on #266
@jongmana can you link to where exactly app-drawer-template and the polymer docs site are different? Right now both https://www.polymer-project.org/1.0/start/toolbox/set-up & https://github.com/Polymer/app-drawer-template show the same directory structure.

FWIW the link you included above brings me to a 404, so the documentation may have been updated since then.

[2016-06-21 21:41] FredKSchott commented on #266
As for polymer lint failing on "app-drawer-template", this is a known, reproducible issue. I'm surprised we haven't been tracking it yet, so lets use this ticket to do so.

[2016-06-21 21:43] FredKSchott commented on #269
We are currently working on a project to make build more customizable. I believe this functionality will be added through that interface once it is built.

pinging @justinfagnani to make sure he's aware of this.

[2016-06-21 21:45] FredKSchott commented on #277
Yes, closing as a duplicate #273 (we'll use 273 to track this feature request)

[2016-06-21 21:45] #277 closed

[2016-06-21 21:46] FredKSchott commented on #273
See #277, this is an issue for people migrating from PSK

[2016-06-21 21:50] FredKSchott commented on #275
@atomikolex are you able to reproduce by installing from this git repo? (See: http://stackoverflow.com/questions/17509669/how-to-install-nodejs-package-from-github-directly)

@LoveAndHappiness we have one more build feature we'd like to get in before releasing 0.12.0.

[2016-06-21 21:53] FredKSchott commented on #281
Thanks for jumping in and responding @vaadin-marcus!

Some point soon we may want to add better logging on this class of error.

[2016-06-21 21:53] #281 closed

[2016-06-21 21:58] FredKSchott commented on #283
We are currently working on a project to make build more customizable. I believe this functionality will be added through that interface once it is built.

pinging @justinfagnani to make sure he's aware of this.

[2016-06-21 22:02] FredKSchott commented on #284
Thank you for opening. this is currently being tracked in the polymer repo issue linked above. I'll leave this open for a little while longer for anyone who runs into the same issue while using the CLI.

[2016-06-22 00:39] FredKSchott commented on #265
Thanks for the feedback everyone. Given how important this is appears to be, I'm going to bump up the priority on this and start working on a fix.

To give a peak into how build currently works, it currently reads all source files & all bower dependency files via two separate streams. Different logic is applied to the files passing through each stream, and then finally they are merged back togethe

[2016-06-22 00:39] FredKSchott commented on #265
I'm digging into different solutions for this now, but as of this moment I agree with @cdata that adding support for explicit, custom source file add/ignore rules is the way to go.

[2016-06-22 01:21] jimbojetlag commented on #265
To me serving `bower_components/` to the public seems odd. It feels like I'm putting the internals of my projects in public. Things like `bower_components/` are the raw ingredients, they should be used to bake the final product which gets served to public. Serving them directly is not the right way to go.

This is a 'solved' problem, we do not need to re-invent the wheel of how to bundle frontend

[2016-06-22 02:16] FredKSchott commented on #265
@jimbojetlag It sounds like your frustrations are with Bower and its requirements around how the  `bower_components/` directory is served. That is a much larger discussion that is outside the scope of this issue.

Please see https://github.com/Polymer/polymer/issues/2578 and its child-issues if you would like to add your voice to the discussion.

[2016-06-22 05:48] atomikolex commented on #275
When installing directly from the git repo, polymer init immediately gives the following errors, that is before I get to the template option screen:
module.js:340
    throw err;
    ^

Error: Cannot find module '..'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:289:25)
    at Module.require (module.js:366:17)
    at require (module.js:385:17)

[2016-06-22 10:44] jimbojetlag commented on #265
@FredKSchott sorry if that was unclear. I'm not against bower, I think it's the proper choice over npm.

I was referring to the bower components directory, or any other source code structure for that matter, that gets directly from development to production. There should be a solution to _bundle_ the development source code to production deployable, not _copying_.

[2016-06-23 22:35] IchordeDionysos opened #286 "Auto reload all browsers on file changes"
I love it how you can easily develop with Polymer Starter Kit because it refreshes automatically on file changes, so you don't have to refresh the page each time manually.
But the downside on Polymer Stater Kit is that you always have to download all npm packages for each project as small it is ...
So I wondered if you could implement such auto reload, to help me out of my conflict between PSK and

[2016-06-24 07:03] gaurav21r opened #287 "Why aren't we using Commander.js?"
Hi there, just a friendly tip / doubt.

Wouldn't the program architecture be a tad simple if we use https://github.com/tj/commander.js?
It seems to be extremely popular and covers most of the options we need in the CLI

1. Will you accept PRs which refactor the current CLI system to Commander?
2. Just a thought on why this wasn't chosen at start?

[2016-06-24 12:11] NicolasRannou opened #288 "Re-usable element template error when dev console open"
I got an error when reloading an element with the dev console is open.
[code]

Then
[code]

When I go to `http://localhost:8080/components/yoyo-element/`, with the dev console open (Chrome 51), it catches an error.
![screen shot 2016-06-24 at 2 09 37 pm](https://cloud.githubusercontent.com/assets/214063/16337372/5cf560f2-3a15-11e6-877d-2b42f8236a00.png)

It the console is closed, it proceeds succe

[2016-06-24 12:17] NicolasRannou opened #289 "Re-usable element missing markup"
The re-usable element template is missing markup so it doesn't show the "demo" button form the element page.

In your-element.html, it misses
[code]

Apologizes as it is probably not the right place to report that but I find hard to know where the templates are coming from (maybe some doc in the README would help :) )

[2016-06-24 13:53] addyosmani commented on #287
What specifically is more complex with the current architecture that would be alleviated with commander.js?

[2016-06-24 13:54] addyosmani commented on #286
@justinfagnani Two cents: After using auto-reload-all-browsers-on-file-changes (BrowserSync-style) reload for a few years, I've found it to offer diminishing returns in starter projects. My vote would be for sticking with the current behaviour for the sake of simplicity.

[2016-06-24 16:51] FredKSchott commented on #286
@IchordeDionysos thanks for the feedback. This feature request is already being tracked in #230.

[2016-06-24 16:51] #286 closed

[2016-06-24 16:56] FredKSchott commented on #289
This feature is on master but has not yet been released. We are currently planning a release that should be released soon. Until then, you can install polymer-cli directly from Github to get the latest code.

Thanks for filing!

[2016-06-24 16:56] #289 closed

[2016-06-25 12:47] mshockwave opened #290 "Authorization issue with polymer-cli build + firebase deploy"
### Description
After using polymer-cli to build project(which is also generated by the tool) and deploy to firebase, if a user want to use google login, the authorization page would redirect to `index.html` of the app rather than normal google login page.
This issue had been filed in polymerfire repo: [issue46@polymerfire](https://github.com/firebase/polymerfire/issues/46)

More precisely, the lo

[2016-06-26 11:21] mikael2933 opened #291 "Polymer build error while parsing script in .html"
I get an [error](http://pastebin.com/ejhDPcZZ) when running polymer build. It seems to be a bug with parsing:
[code]
Specifically the pattern="/:page", which is line 29 in [skema-app.html](http://pastebin.com/nVv5yepz).

[2016-06-27 08:11] catiejojo opened #292 "web-animations-js scripts breaking build with neon-animated-pages"
### Description

### Versions & Environment

- Polymer CLI: v0.11.1
- node: v4.4.5
- Operating System: Mac (OSX El Capitan)

#### Steps to Reproduce
1. Create an application project: `polymer init application`
2. Download neon animations (`bower install --save PolymerElements/neon-animation`)
3. Add script tag to your element: `<link rel="import" href="../../bower_components/neon-animation/neon-an

[2016-06-27 08:16] catiejojo commented on #292
I should also add that serving the application works like a charm; it's just `polymer build

[2016-06-27 17:43] lukasoppermann opened #293 "Polymer serve: not found"
Hey, so I wanted walk through https://www.polymer-project.org/1.0/start/first-element/intro but once I got the cli installed and tried `polymer serve` I got stuck.

I do not get any errors, or anything, but when I view the page in the browser I get a `not found` message.
I am clicking on the link shown in the CLI so it can not be a typo.

I do have `vagrant` installed, I am not sure if this could

[2016-06-27 19:04] justinfagnani commented on #293
Can you try to re-install `polymer-cli`? Maybe the install just failed.

[2016-06-28 05:41] mercmobily opened #294 "Straight "polymer init app-drawer-template;polymer serve": app fail as bower_components is in the wrong path"
### Description

polymer init and polymer serve out of the box don't work as bower_components seem to be in the wrong tree

### Versions & Environment
- Polymer CLI: 0.11.1
- node: v4.4.4
- Operating System: Ubuntu

#### Steps to Reproduce

Install app-drawer-template:

    $ polymer init app-drawer-template
    info:    Running template app-drawer-template
    info:    Downloading latest release

[2016-06-28 23:32] syu93 opened #296 "App-location using the use-hash-as-path attribute don't work"
Hi, it's my first issue here, sorry if it's a non-sens

### Description

Using the shop demo, I need to use the hash routing way, but it seem not to be working.
I've add the **use-hash-as-path** property
The URL is still updated but without adding the hash
### Versions & Environment

- Polymer CLI:0.11.1
- node:5.11.0
- Operating System:Debian Jessie
#### Steps to Reproduce

add the *_use-hash-as-

[2016-06-28 23:56] FredKSchott commented on #287
We're currently pretty happy with our command/argument parsing logic & libraries. If there's anything that could be significantly improved by refactoring to use Commander please let us know (although it would have to be a pretty big improvement to warrant such a big change).

[2016-06-28 23:56] #287 closed

[2016-06-29 11:29] atomikolex commented on #275
I can confirm CLI version  0.12.0 solves my init issues for the app-drawer and shop templates. Yay!

Trying to run a blank template application or element still throws the assertion error:  Promise rejection: AssertionError: A name parameter is required to create a storage

[2016-06-29 11:33] NicolasRannou opened #297 "Error message during build should be more explicit"
### Description
Error message during build should be more explicit

#### Expected Results

It should tell us which file is problematic.

#### Actual Results
[code]

Is it possible to add this kind of information with the current infrastructure?

[2016-06-29 13:28] nocquidant commented on #69
Is there a workaround? Thanks

[2016-06-29 13:28] Eugenitals commented on #180
+1

[2016-06-29 13:52] Holi0317 opened #298 "[Feature request] Minify service-worker.js file in build process"
Inspired by [Total Tooling Tip](https://youtu.be/IWgNn1kqrsA?t=5m19s) and service worker can be minified.

This just make service worker to load faster and have a smaller size.

[2016-06-29 16:16] justinfagnani commented on #180
We're working on a few things in this area. First the build pipeline code is being put in a separate library called polymer-build, so that it can be pulled into a gulpfile and customized. As part of that library, we're reworking how files are consumed  into the pipeline. A project's own sources will continued to be pushed into the pipeline by default: entrypoint, shell, fragments and src/**. This

[2016-06-29 16:19] syu93 commented on #245
Hi, I'm using the polymer-cli O.12.0

I encounter the same issue here and something very weird

Using the second URL I'm getting two error.

    Note: for your comprehension, I need to create my element the dist of another project

And

Looking at the URL to be sure the path is correct, I saw that I've been redirected to this URL and the path is the full root path of the project.

Hope we can foun

[2016-06-29 16:58] FredKSchott commented on #163
This has been done

[2016-06-29 16:58] #163 closed

[2016-06-30 00:52] claudiordgz commented on #245
@justinfagnani I just ran into this issue/design decision about the element builder. Just reiterating... serve elements separately and with the app itself? Do not worry about the paths in the element template? Could we document this somewhere?

[2016-06-30 01:27] claudiordgz commented on #294
This seems fixed in master

[2016-06-30 12:53] HappyZone commented on #230
Same here, right in the middle of a project, willing to move from PSK-gulp-like setup (using browsersync) to polymer-cli...
Any estimation on a possible release date ?

[2016-06-30 15:16] jay8t6 commented on #292
+1

[2016-07-01 02:21] mercmobily commented on #294
Yep. Sorry.

[2016-07-01 02:21] #294 closed

[2016-07-01 08:59] mikael2933 commented on #297
Check files through, I think you forgot a `,` or you added one too many.

[2016-07-01 09:01] mikael2933 commented on #290
Can you post your firebase.json? It should be in your projects root directory.

[2016-07-01 09:02] NicolasRannou commented on #297
Yes - I found the issue it was a typo in the css as the error message suggested but I would hope polymer-cli could tell us directly which file.

In general it is fine to track it down if you commit small portions of code and run CI on every commit though.

[2016-07-01 09:07] mikael2933 commented on #298
The question is how much you can minify the .js file. I'm not sure, have you tried using uglify on your server-worker.js?

[2016-07-01 09:16] mshockwave commented on #290
@mikael2933
Sure:
[code]
I use all of the services(realtime database, storage and hosting).
I didn't modify `firebase.json` since `polymer init`

[2016-07-01 09:37] Holi0317 commented on #298
Using a fresh `app-drawer-template` template and build it.

Before minified: 9.8K
After minfied: 5.3K

[2016-07-01 12:25] vuamitom commented on #226
I'm facing the same issue. Any one have a workaround yet?

[2016-07-01 18:37] rvbyron opened #299 "Problem Building firebase/polymerfire"
### Description
Cannot build firebase / polymerfire. The build will throw an error.

An [issue is open](https://github.com/firebase/polymerfire/issues/62) on their repo, but they suggested it should be brought to your attention over here on the Polymer-cli side as they believe it might be Polymer-cli related.

### Versions & Environment
- Polymer: 0.12.0
- node: v4.4.5
- bower: 1.7.9
- Operating S

[2016-07-03 06:32] dsnowdon commented on #226
Same problem here

[2016-07-03 17:08] e-geb commented on #299
This also happens when initializing a new element via polymer-init.

E.g. we are in a directory test-element/
polymer init element
polymer build (bundled, unbundled or combined)

[code]

Serving the resulting builds with polymer serve build/bundled or unbundled and navgating to http://localhost:8080/components/test-element/
yields the following error in the Chrome console
[code]

Tried it with Win

[2016-07-04 16:44] locomuco commented on #290
I experience the same issue...

using app-drawer-template with firebase + polymer cli

[2016-07-04 21:05] dsnowdon commented on #299
Similar issue here:
OSX: 10.11.4
node: 3.9.0
Polymer/polymer#^1.4.0

error:   Error: no resolver found for ../../../../bower_components/firebase/firebase.js
    at FileLoader.request (/usr/local/lib/node_modules/polymer-cli/node_modules/hydrolysis/lib/loader/file-loader.js:70:37)
    at Object.<anonymous> (/usr/local/lib/node_modules/polymer-cli/node_modules/vulcanize/lib/vulcan.js:318:26)
    at

[2016-07-05 11:36] mikael2933 commented on #290
To me, it doesn't seems like a problem with Google login, more like a problem between polymer routes and firebase routes. Firebase rewrites shouldn't change the URL it self. @locomuco exactly what do you experience, is it the same with the URL changing to "/index.html"?

[2016-07-05 11:42] locomuco commented on #290
@mikael2933 doesn't work without or with rewrite rules.
Does this answer your question?

[2016-07-05 11:54] mikael2933 commented on #290
What doesn't work? Is it the same problem with the URL changing to "/index.html" instead of loading the proper content?

[2016-07-05 12:10] locomuco commented on #290
It's the same behaviour without and with applied rewrite rules

[2016-07-05 19:55] stramel commented on #226
Not saying this is a fix but by running, `polymer build --fragment bower_components/polymer/polymer.html` I was able to get past this issue.

[2016-07-06 00:19] robdodson commented on #226
yeah i don' think i've seen this issue after creating a proper `polymer.json` that lists a shell and fragments. ex: https://github.com/Polymer/app-drawer-template/blob/master/polymer.json

[2016-07-06 13:33] stramel commented on #226
Seems like the `polymer.json` would be the correct route to go. Would it make sense to include a base one in the polymer-cli init?

[2016-07-06 15:15] robdodson commented on #226
probably if the templates don't already. But it should also not cause an error if one is missing. I don't *think* it's required but @FredKSchott would know better :)

[2016-07-06 16:39] dsnowdon commented on #226
When i build i get this even after adding polymer.html to my polymer.json

{
  "entrypoint": "index.html",
  "shell": "src/forms-app/forms-app.html",
  "fragments": [
    "bower_components/polymer/polymer.html"
  ]
}

|  $ sudo polymer build
info:    Building application...
info:    Generating build/unbundled...
info:    Generating build/bundled...
warn:    Unable to uglify file /Users/Dale/Deskto

[2016-07-06 17:57] robdodson commented on #226
@dsnowdon you wouldn't add `polymer.html` as a fragment. Fragments represent pages in your app. Take a look at https://github.com/Polymer/app-drawer-template for an example

[2016-07-06 18:01] stramel commented on #226
@robdodson I was only able to get past issues with the build when i included polymer as well. It was trying to instantiate Polymer multiple times. I tried doing the following:

[code]

The result was Polymer trying to be instantiated multiple times. Adding the `bower_components/polymer/polymer.html` fixed those errors for me.

@dsnowdon Can you post your `polymer-cli`, `node`, and OS versions?

[2016-07-06 18:24] tjmonsi commented on #275
Hi everyone, I just started creating another polymer project right now and it seems even when using 0.12.0, I still get the same errors when doing polymer init

[code]

[2016-07-06 20:50] FredKSchott commented on #226
hey guys, looking into this now. I can reproduce in both PSK2 and `polymer init application` applications.

[2016-07-06 21:08] FredKSchott commented on #226
Still digging...

@dsnowdon based on the output you provided, the CLI cannot find your dependencies. it looks like you still need to run `bower install`. This is a separate issue from the one being reported here.

[2016-07-06 22:03] FredKSchott commented on #226
So I can confirm that when a proper polymer.json exists, `build/bundled` is built correctly without any missing `shared-bundle.html` or 404 errors. When polymer CLI doesn't know the app-shell via the `shell` flag/property it attempts to build a more generic `shared-bundle.html` for the application, which is where this bug seems to exist. I'm still digging into why it isn't being created properly.

[2016-07-06 22:29] robdodson commented on #226
Thanks for looking into it @FredKSchott 🔍

[2016-07-07 04:29] atomikolex commented on #275
@tjmonsi Just a noob, but I think you need to file a separate issue for this. My issue was an assertion error, in your case a specific module isn't there. Maybe double check on installation errors also.

[2016-07-07 09:45] tjmonsi commented on #275
@atomikolex it's alright... I thought it was the same error. But then it just got magically fixed (still using the same version). It's just weird though, but when I started to run up another instance of my dev place (I use c9), and just installed polymer-cli, it works like a charm. Just before this I installed polymer-cli bower and firebase-tools, and it went haywire. I can't really replicate it,

[2016-07-08 00:37] midesweb commented on #290
The problem is with the Service Worker's cache.
The configuration of the service Worker, generated by the Polymer CLI build process, is in the file "sw-precache-config.js"

In that file you will find:

`navigateFallback: '/index.html'`

this configuration is explained in the GoogleChrome/sw-precache repository https://github.com/GoogleChrome/sw-precache

The solution is to configure "navigateFallb

[2016-07-08 12:28] mbn18 opened #300 "Cant access polymer from the docker host"
I installed polymer in [nodeJs docker 4.4.7](https://hub.docker.com/_/node/)

    docker run -it --name polymer-test -h polymer -p 8080:8080 -v $PWD:/host node:4.4.7 bash

    useradd -s /bin/bash -m user

    npm install -g polymer-cli
    npm install -g bower

    su - user

    polymer init app-drawer-template
    bower install # (if not run automatically)

    polymer serve

Then from the host

[2016-07-08 15:07] raydaly commented on #299
Same problem here with

- OSX 10.11.4
- Node 4.4.7
- Polymer 0.12.0
- Bower 1.7.9
- Polymerfire 0.9.4

I was seeing the "unable to uglify" message earlier. Now the build does not finish with nearly identical error messages as reported by dsnowdon.

error:   Promise rejection: Error: no resolver found for ../polymer/polymer.html

[2016-07-08 16:40] locomuco commented on #290
deployed and verified, since this is not a polymer-cli problem either, I'd vote to close this issue here

[2016-07-09 00:01] blasten opened #301 "Use a different port if the current one is in use when serving"
Use case:

It would be neat to find a port number that is open when I call `polymer serve` if I don't explicitly specifying the port number. Similar to how browser-sync does it.

Finally, copy that URL to the clipboard.

[2016-07-10 21:10] reajuria commented on #219
Try adding the polymer.json file, in my setup this resolved the issue. https://www.polymer-project.org/1.0/docs/tools/polymer-cli#build

[2016-07-11 19:10] blasten opened #302 "Support https"
It'd be great to have something like `polymer serve --https`

Use case: some JS libraries require content to be served via https even for local development.

[2016-07-11 19:13] justinfagnani commented on #275
This should be fixed in 0.12, and the missing module sounds like an npm issue (that we're trying to alleviate). I'm going to close now.

[2016-07-11 19:13] #275 closed

[2016-07-11 19:34] justinfagnani commented on #302
We have an issue already on polyserve: https://github.com/PolymerLabs/polyserve/issues/47

[2016-07-11 19:34] #302 closed

[2016-07-11 20:52] justinfagnani commented on #245
I'll get some documentation on this in the next release, and hopefully some better output from `polymer serve` and `polymer build` for element-style projects.

[2016-07-11 21:00] justinfagnani commented on #278
This issue was moved to PolymerLabs/polyserve#101

[2016-07-11 21:00] #278 closed

[2016-07-11 23:49] FredKSchott commented on #292
Looking into this now...

[2016-07-12 05:39] yasinMF commented on #292
Hey, I just came across exactly the same problem - was able to solve it by adding a polymer.json file to the root directory. Something like this...

`
{
  "entrypoint": "index.html",
  "shell": "src/my-app.html",
  "fragments": [
  	"src/some-component.html"
  	...
  ]
}
`

No idea why this fixes it, but it seems to work :/

[2016-07-12 19:54] admwx7 commented on #261
Is there a work-around for this in the meantime?

Also curious to hear what the preferred approach for handling this would be, might look into adding support if I get some free time.

[2016-07-12 21:36] milesje commented on #299
Same issue here
I am on Mac OS X 10.11.5
node version: 4.4.5
polymer-cli version: 0.12
bower version: 1.7.9

[2016-07-13 05:58] adrienforward opened #303 "build optimisation by selecting bundled or unbundled at build time"
### Description

It could be interesting to set up a specific build type:
polymer build --unbundled
polymer build --bundled

 (many people doesn't use both at the same time:)

### Versions & Environment

- Polymer CLI:
- node:
- Operating System:

#### Steps to Reproduce

#### Expected Results

#### Actual Results

[2016-07-13 08:01] abdonrd commented on #303
I like it! 👍

[2016-07-13 12:57] JBClion commented on #219
Have the same issue as @reajuria:

error:   Error: no resolver found for ../bower_components/promise-polyfill/Promise.js

[2016-07-13 15:40] SPAHI4 opened #304 "build error"
[code]
path is correct because import below works
[code]

running on ubuntu 14.04

[2016-07-14 04:19] jamesmgg commented on #296
@syu93 I had the same issue but by checking out another of the github issue I found the solution:
You have to make the links look like this: #/view1. Hope this works. Cheers

[2016-07-14 11:44] abdonrd commented on #273
Any news about this?

[2016-07-14 13:22] l0nley commented on #304
Does it work at all? I am unable to build element project.
I am getting build error on just generated element project.
Info in attachment
[console.txt](https://github.com/Polymer/polymer-cli/files/363795/console.txt)

[2016-07-14 18:02] Davis22xd opened #305 "Cannot read property 'previous' of null when running polymer build"
### Description

When I was trying to build my polymer project with polymer build I got the error:
cannot read property 'previous' of null
### Versions & Environment

- Polymer CLI: 0.11.1
- node: v4.2.1
- Operating System: Ubuntu 14.04

#### Steps to Reproduce

1. I create my project that I have in:
**https://github.com/Davis22xd/polymer-table**
2. checkout to origin/simple-table branch
3. I try

[2016-07-15 02:47] gwu commented on #300
Try `polymer serve --hostname 0.0.0.0`

[2016-07-15 06:05] oneezy commented on #219
I'm getting the same `'previous' of null` error as @akc42 ... any resolution to this yet guys?

[code]

[2016-07-15 06:12] oneezy opened #306 "Cannot read property 'previous' of null"
## Polymer Shop (build issues)

When running `polymer build --verbose`,

I'm getting a few syntax errors:

[code]

**Source Code:** https://github.com/oneezy/shopSFI

**Full output:**
[code]

[2016-07-15 09:11] ziszo commented on #215
Node: 4.2.6
Polymer-CLI: 0.12.0

![image](https://cloud.githubusercontent.com/assets/4342864/16869236/7252c3a0-4aae-11e6-8a3a-9067e245c3f7.png)

[2016-07-15 09:14] ziszo opened #307 "warn: Unable to uglify files"
Node: 4.2.6
Polymer-CLI: 0.12.0

How can I remove the "Unable to uglify file ..." warning?
What's the exact solution for this?

![image](https://cloud.githubusercontent.com/assets/4342864/16869236/7252c3a0-4aae-11e6-8a3a-9067e245c3f7.png)

[2016-07-15 12:33] mbn18 commented on #300
@gwu , thanks, that worked.
Any reason why its not set as default like other servers? I guess it can also be useful to mention this in the relevant docs.

[2016-07-15 23:35] oneezy commented on #307
Same issue on this end...

-------------
**OS:** Windows 10 (64-bit)
**Git SCM:** 2.7.0 (MINGW64)
**Node:** 6.3.0
**Polymer-CLI:** 0.12.0

-------------

[code]

Any ideas?

[2016-07-16 23:08] oneezy commented on #292
Similar issues on this end. I'm able to serve the app locally and everything works fine. But `$ polymer build` produces a problem.

-------------
**OS:** Windows 10 (64-bit)
**Git SCM:** 2.7.0 (MINGW64)
**Node:** 6.3.0
**Polymer-CLI:** 0.12.0

-------------

[code]

Any ideas?

[2016-07-17 18:33] maisnamraju opened #308 "Issue with gulp-htmlmin when running polymer build"
I am not sure if this is an issue with the gulp plugin or the polymer tool but I have reinstalled all the concerned packages and can't seem to get rid of the error.

[code]

[2016-07-17 20:43] oneezy commented on #307
@ziszo , any luck??

[2016-07-17 20:47] oneezy commented on #305
Any luck on this @Davis22xd ?

I created duplicate around exact same time you did.. issue #306

[2016-07-18 06:13] ziszo commented on #307
got no solution yet.

[2016-07-18 13:08] kpgarrod commented on #230
I just created my first project with polymer-cli and hit this limitation. It is quite straightforward to run `browser-sync` alongside `polymer serve`. In case it helps somebody, here's what I did:

1. `npm init` inside your project directory to create a `package.json` file
2. `npm install browser-sync --save-dev` in the same directory
3. add a start script to `package.json`:
[code]
Then you can ju

[2016-07-18 15:55] mercmobily commented on #284
I am nearly certain that Polymer 1.6.0 fixes this, and therefore this should be closed.

[2016-07-18 15:59] mercmobily opened #309 "Best practices as where to place a scripts that create README.md automagically?"
I created a [terrible but functional script](https://github.com/mercmobily/hot-form-validator/blob/master/make_readme.sh) that creates README.md from my simple element.

I missed the recent discussions about grunt etc., and was just wondering... what are the best practices at the moment to make sure that this happens semi-automatically?

If this were your component, and you were the author of [thi

[2016-07-18 16:09] isaldarriaga commented on #307
A simple **polymer build --verbose** should work to show you the syntax error reported by uglify

[2016-07-18 16:57] Davis22xd commented on #305
No yet, but I'm looking for it.  I hope to find something

[2016-07-20 00:47] erinhong17 commented on #222
@FredKSchott I've been getting a similar error as @Tecm0 with 'Unexpected token: operator (<)' errors.

`{ message: 'SyntaxError: Unexpected token: operator (>)',
  filename: 0,
  line: 241,
  col: 33,
  pos: 5081,
  stack: 'Error\n    at new JS_Parse_Error (eval at <anonymous> (/usr/local/lib/node_modules/polymer-cli/node_modules/uglify-js/tools/node.js:28:1), <anonymous>:1545:18)\n    at js_erro

[2016-07-20 01:20] JGSolutions commented on #230
@kpgarrod Thanks man! works great!

[2016-07-20 05:37] oneezy commented on #307
Ok... using `polymer build --verbose`,

I'm getting a few syntax errors:

[code]

**Full output:**
[code]

[2016-07-20 05:55] oneezy commented on #305
Using `polymer build --verbose`,

I'm getting these syntax errors:

[code]

**Source Code:** https://github.com/oneezy/shopSFI

**Full output:**
[code]

[2016-07-20 06:42] oneezy commented on #305
It looks as if this might be a css syntax problem (shady css parser ?).

@justinfagnani, @leesander1 any update on this or best way to handle it?

**raydaly from SO wrote:**
[(source)](https://stackoverflow.com/questions/37473722/polymer-build-error)

**Alan from SO wrote:**
[(source)](http://stackoverflow.com/questions/37449621/missing-component-html-script-0-js-files-in-polymer-build-using-the-c

[2016-07-20 07:51] kpgarrod commented on #230
A small improvement:

[code]
Now just `npm run dev` starts both processes.

[2016-07-20 19:11] justinfagnani commented on #298
Moving this to enhancement, since it actually requires a lot of thought on how we handle streams. We'll probably need to move this bug to the polymer-build repo also.

[2016-07-21 13:09] motss commented on #290
This is my config. Feel like submitting a PR to fix this issue. Is there any situation where this path `/__/` is necessary?

[code]

[2016-07-22 16:46] edvail commented on #261
I can't use google-chart due to this issue:
no resolver found for https://www.gstatic.com/charts/loader.js

Is there any workaround to still build somehow project?

[2016-07-24 00:08] ziszo commented on #307
Tried: polymer build --verbose
Got no errors, just this "debug" outputs in blue.
Maybe there's nothing wrong with my files since the files that are flagged as "Unable to uglify ...." are not my files. They are mostly these marked-element.html
Maybe this warning should be ignored.

![image](https://cloud.githubusercontent.com/assets/4342864/17080908/ec03c2f4-5174-11e6-9ca6-6979b467e529.png)

![imag

[2016-07-24 13:33] IchordeDionysos opened #312 "polymer serve --hostname doesn't work as described"
### Description

When I tried to serve my project locally with a specified hostname, it doesn't work and gives me an error:

    Starting Polyserve...
        serving on port: 8080
        from root: L:\Dennis\Web_Development\solari

    Files in this directory are available under the following URLs
        applications: http://'test':8080
        reusable components: http://'test':8080/components

[2016-07-26 20:27] joeblew99 commented on #225
i also just tired the shop app.
https://github.com/Polymer/shop/issues/42

I get a ton of lining errors. It does not give a summary, but i estimate about 50 errors.

For example a simple one in https://github.com/Polymer/shop/blob/master/src/shop-app.html#L220:
[code]

Is this because the "app-route" component does not have the right comments in its code to support the linter, and so hence its exp

[2016-07-26 21:44] Scarygami commented on #225
@joeblew99 Actually in this specific case it is an issue in the `shop-app.html` itself, because the properties mentioned really aren't defined in the elements [properties object](https://github.com/Polymer/shop/blob/master/src/shop-app.html#L324).

Generally if the file mentioned by the linter is your own file, you can also fix it yourself. If the file mentioned is in your (bower) dependencies, it

[2016-07-26 22:42] jfletcher-nuxeo commented on #308
Most likely an error in your source. For example look at `round"=""`. I saw the same error when one of our attributes was missing an `=`. I think uglify tried to add an `=` but can't quite fix the bad source :)

[2016-07-26 23:20] jfletcher-nuxeo opened #314 "Error "Promise rejection: Error: no resolver found for ../polymer/polymer.html" for "polymer build" with 0.12.0"
### Description
Build fails for release 0.12.0 with the following errors:

    error:   Promise rejection: Error: no resolver found for ../polymer/polymer.html
    error:   Error: no resolver found for ../polymer/polymer.html
    at FileLoader.request (/usr/local/lib/node_modules/polymer-cli/node_modules/hydrolysis/lib/loader/file-loader.js:70:37)
    at Analyzer.load (/usr/local/lib/node_modules/

[2016-07-27 13:42] pmaudsley opened #315 "Error code return as 0 on failed polymer test run"
### Description
I am running test on custom elements using the Polymer CLI on a build server. The build server is setup to report a successful build on an exit code of 0 and failed builds on an exit code of !0. Currently Polymer CLI does not return any codes on a error which is resulting in the build I run to be successful all the time, even on failures.

I will put a PR adding process.exit(1) on

[2016-07-27 16:18] erinhong17 commented on #304
Also receiving similar error on my mac. I'm running a OS X El Captain 10.11.4

`{ message: 'SyntaxError: Unexpected token: operator (>)', filename: 0, line: 241, col: 33, pos: 5081, stack: 'Error\n at new JS_Parse_Error (eval at <anonymous> (/usr/local/lib/node_modules/polymer-cli/node_modules/uglify-js/tools/node.js:28:1), <anonymous>:1545:18)\n at js_error (eval at <anonymous> (/usr/local/lib/no

[2016-07-27 18:01] l0nley commented on #304
Devs dont care i think. 2 weeks without reply - means more than code.

[2016-07-27 18:51] FredKSchott commented on #312
Node is unable to perform your expected result. `localhost` is a special hostname referring to this computer, and node is able to connect and host locally. `test`, however, is not. So polymer-cli is behaving as expected, because `test` isn't a valid hostname.

You can try this with a valid external hostname (`polymer serve --hostname test.com`) and see that Node errors out with an EADDRNOTAVAIL er

[2016-07-27 18:51] #312 closed

[2016-07-27 18:57] FredKSchott commented on #309
There are not currently any hooks into polymer-cli commands for running custom scripts like this.

My advice would be to create a custom [npm script](https://docs.npmjs.com/misc/scripts) that calls whatever you want before/after calling `polymer X`. So for example, to run a custom script before build, you could include `"build": "./custom-script && polymer build"` in your `package.json` file scrip

[2016-07-27 18:57] #309 closed

[2016-07-27 18:59] FredKSchott commented on #308
Please run the same command with the `--verbose` flag to see what exactly caused the uglify error in each file. Feel free to re-open if the error it gives isn't in your source code.

[2016-07-27 18:59] #308 closed

[2016-07-27 19:05] FredKSchott commented on #307
We've just finished work on a new build pipeline which should greatly reduce the number of files that are included in the build. This will also make sure that dependencies aren't passed through the same optimization pipeline as source files, which is where this warning is occurring.

The good news is that these warnings shouldn't affect your builds at all, other than the fact that some files may n

[2016-07-27 20:56] FredKSchott commented on #305
I can reproduce this as well. It seems like CSS errors will stop the build stream, so make sure you don't have any in your source files. I'll be doing some work around this soon to turn these into warnings (similar to how uglify warns but doesn't exit).

[2016-07-27 20:57] FredKSchott commented on #306
Duplicate of #305

[2016-07-27 20:57] #306 closed

[2016-07-27 20:57] catiejojo opened #317 "Element template has incorrect path for polymer.html import"
### Description
Relative path for polymer.html is wrong, so element template doesn't build out of the box.

### Issue
_These aren't relevant to the issue, but just to be thorough..._
- Polymer CLI: 0.12
- Node: 4.4.5
- Operating System: Mac OSX El Capitan 10.11.5

#### Steps to Reproduce
1. Create an element: `polymer init element`
2. Build: `polymer build`

#### Results
[code]

### Fix
I think th

[2016-07-27 21:00] FredKSchott commented on #303
I like this too. As far as interface goes, we would probably want to default to one and then have a flag for the other (ie: default to unbundled, add `--bundled` flag).

We currently have our plates full with other work at the moment, but would welcome any PRs that add this.

[2016-07-27 21:02] FredKSchott commented on #301
Love the idea, do you have any idea what additional code/libraries are needed to make this work? Our dependency graph is already too big, so if this logic requires any complex additional dependencies it might not be worth the tradeoff.

[2016-07-27 21:04] FredKSchott commented on #300
Thanks @gwu! @mbn18 feel free to create a PR to add this info to the README

[2016-07-27 21:09] catiejojo commented on #304
# Possible Fix
I was also getting this error on OSX El Capitan 10.11.5, and I finally fixed it. From what I could find online, the likely most culprit is [not having relative file paths in your imports](https://github.com/Polymer/polymer-cli/issues/222#issuecomment-223631794), and that turned out to be my problem as well. Similar to the OP, the file paths in my file were all relative, so I initial

[2016-07-27 21:43] mickeywu commented on #243
@justinfagnani Any updates for the build pipeline plugin feature? Thanks!

[2016-07-27 21:50] jfletcher-nuxeo commented on #317
This is normal. It's explained here: https://github.com/Polymer/polymer-cli/issues/222#issuecomment-223631794

The idea is that in a deployed environment all the elements exist as siblings so relative paths need to be used.

[2016-07-27 23:37] FredKSchott commented on #265
Closed by #310

[2016-07-27 23:37] #265 closed

[2016-07-27 23:38] FredKSchott commented on #254
Closed by #310

[2016-07-27 23:38] #254 closed

[2016-07-27 23:38] FredKSchott commented on #241
Closed by #310

[2016-07-27 23:38] #241 closed

[2016-07-27 23:56] FredKSchott commented on #233
Fixed by #310

[2016-07-27 23:56] #233 closed

[2016-07-28 03:34] oneezy commented on #305
@FredKSchott , I ended up fixing this by deleting some unused folder/files that I had pulled in to reference from an older version of my project..but I'm unsure if it was tied directly to making the build fail.

If files exist within your app that aren't being used, do they still get processed into the build to cause these errors? It would be nice if the CLI automatically knew to not include these

[2016-07-28 04:35] caseycarroll42 commented on #299
@raydaly My fix was similar. Whenever scaffolding a project or element with polymer-cli, the path to polymer.js is not correct.

i.e. When I scaffolded an element template, the polymer import in my element file was:
`
'../polymer/polymer.html',
`
but should have been:
`
'bower_components/polymer/polymer.html'
`

After making this change, I can build a project with polymer build **successfully**.

[2016-07-28 06:54] catiejojo commented on #317
Thanks for the quick reply, @jfletcher-nuxeo! I think I get what you're saying. So when I use `polymer build`, the minifying process condenses the file tree structure and puts everything in a single directory, so "bower_components/polymer/polymer.html" would be the wrong path in a deployed environment even though it's the right path in a local one. Is that accurate?

#### If so...follow-up questio

[2016-07-28 17:39] maisnamraju commented on #308
The issue was with one of the libraries. Thanks

[2016-07-28 17:51] FredKSchott commented on #308
👍 glad it worked, the next version of polymer-cli will turn these errors into warnings so so it shouldn't be an issue.

[2016-07-28 17:57] FredKSchott commented on #305
@oneezy the latest published version of polymer-cli (naively) includes all files that could possibly be needed, which includes your bower_components directory by default (:-1:). The next version (soon to be published) uses our new [polymer-build](https://github.com/Polymer/polymer-build) library, which is now smart enough to know which files your build needs and which it does not.

Feel free to ch

[2016-07-28 18:12] FredKSchott commented on #243
@mickeywu yup! The build pipeline now exists in a standalone library: https://github.com/Polymer/polymer-build.

`polymer-cli` now uses a basic polymer-build pipeline for its build process. To modify/create your own build pipeline (one that runs babel on each JS file, for example) try using polymer-build yourself in a gulp task (or equivilent).

[2016-07-28 18:12] #243 closed

[2016-07-28 19:35] jfletcher-nuxeo commented on #317
You can't, it's broken (hence issue #314 )

[2016-07-28 21:50] #284 closed

[2016-07-28 22:30] oneezy commented on #305
Great news! Thanks for the update. I'll check it out.

[2016-07-29 00:39] wprater commented on #26
can we get this running for the dev server as well?

[2016-07-29 09:20] mbn18 commented on #300
Done, https://github.com/Polymer/polymer-cli/pull/322

@FredKSchott , will it be useful to add 3-4 lines to the README that describe how to run the server using docker? Kinda helpful when you wish to use version that is not available on the host platform.

[2016-07-29 13:39] arodic opened #323 "Feature request: serve command should support https"
### Description

Polymer server should support https protocol since some web APIs require it.
#### Expected Results

Following comand should run a server with https protocol.

[code]

Served application should be accessible at https://localhost:8080

[2016-07-29 17:16] FredKSchott commented on #323
@arodic thanks for the feature request! Can you update your issue with instructions on how to reproduce what isn't working for you?

[2016-07-29 17:18] FredKSchott commented on #300
I just got a chance to look into

[2016-07-29 17:21] FredKSchott commented on #300
I just got a chance to look into https://nodejs.org/api/http.html#http_server_listen_port_hostname_backlog_callback

If we adopted this same behavior, docker would be supported by default, correct? This would also solve https://github.com/Polymer/polymer-cli/issues/301 by defaulting to port 0 to have the OS automatically assign a port.

@mbn18 @gwu does this make sense? Wdyt?

[2016-07-29 22:07] houston88 commented on #261
I get this error as well when trying to use google-chart, and then build fails.

[2016-07-29 22:23] garlicnation commented on #26
@justinfagnani The noop-resolver is for this situation.

[2016-07-29 22:24] garlicnation commented on #261
@justinfagnani The NoopResolver is for this situation.

[2016-07-30 00:26] FredKSchott commented on #261
I just submitted a fix to this to polymer-build, which means this will get
the fix as well.
On Fri, Jul 29, 2016 at 3:24 PM AJ Ortega <notifications@github.com> wrote:

[2016-07-31 05:23] davidsteinberger commented on #243
@FredKSchott really interested in this as well. are there any examples out there that show how that'd b e done with polymer-build?

[2016-07-31 11:16] arodic commented on #323
There is a related [issue](https://github.com/PolymerLabs/polyserve/issues/47) in polyserve project although it hasn't been addressed since February. Also found a closed issue #302 here.

I'd suggest to keep this issue open until polyserve [issue](https://github.com/PolymerLabs/polyserve/issues/47) has been addressed and appropriate argument mapping implemented in polymer-cli.

[2016-07-31 16:03] motss opened #324 "Failed to parse SourceMap: https://example.com/build/sw-toolbox.map.json"
### Description
With Service Worker enabled, this error is shown while updating the stale cached copy of the web app.

### Versions & Environment
- Polymer CLI: 0.12.0
- node: v6.3.1
- Operating System: Windows 10 x64

#### Steps to Reproduce
In Chrome Dev Tools, go to `Applications` and click `Service Workers` and update Service Worker. The error is logged to the console.

#### Expected Results
N

[2016-08-01 01:05] FredKSchott commented on #243
@davidsteinberger I'm going to be fleshing out on the repo's README early next week, but for now check out how both [the CLI](https://github.com/Polymer/polymer-cli/blob/c5156b1a625e40b10159acab55bd0d4ca6043c68/src/build/build.ts) & [polymer-starter-kit](https://github.com/PolymerElements/polymer-starter-kit/blob/94a915609ca78928d7d10f72d4016b691ddd35a2/gulpfile.js) are being moved over to it.

[2016-08-01 04:18] kausik93 opened #325 "polymer serve not working - localhost didn’t send any data."

[2016-08-01 04:21] kausik93 opened #326 "polymer serve not working - "localhost didn’t send any data""
I am following the [intro on polymer-project](https://www.polymer-project.org/1.0/start/first-element/intro) to run the tutorial. I've installed NodeJS, bower and polymer-cli. After downloading the downloading and navigating to the project folder, when I run `polymer serve`, localhost does not work. I get
`The localhost page isn’t working

localhost didn’t send any data.
ERR_EMPTY_RESPONSE`

I've

[2016-08-01 05:55] mbn18 commented on #300
@FredKSchott , I agree. If this is the consensus, why implant it differently?

[2016-08-01 09:26] christophe-g opened #327 "latest built : treating online resources as local"
Hi,

I did a build against latest master.
`font-roboto/Roboto.html` is creating the following issue while building

[code]

[code]

Cheers,
C.

[2016-08-01 09:43] christophe-g opened #328 "bundled files not present after build (compiling from source, latest master)"
I could not get any bundled files after a build  - using a version build from source against 66d0350.

I am not getting any error message, but the shell and fragment  bundled files are absent from the bundled directory. It is as if the build process exists  after composing the dependency tree (no vulcanization seem to happen).

The last output from `--verbose` option is :
[code]
Cheers,
C.

npm@3.

[2016-08-01 10:16] christophe-g commented on #328
The reason for this happening was an unresolved href link (`<link rel="import" href="../../bower_components/polymer/polymer.html">` instead of `<link rel="import" href="../../../bower_components/polymer/polymer.html">` for one of my component...

Would help if the build process outputs some error message when this is happening.

Thanks,
C.

[2016-08-01 15:02] davidsteinberger commented on #243
Thanks! It's actually pretty clear for me how I'd do it in the starter-kit (b/c I can directly update the gulpfile), however I do not understand how the cli exposes the build-pipeline.

[2016-08-01 17:58] FredKSchott commented on #243
Polymer CLI will remain focused on the CLI use case, so for now we have no plans to expose polymer-build or the build-pipeline directly from it.

Polymer CLI's "build" goals will be to serve beginning users and intermediate/advanced users who just need its basic pipeline. This will include some common customization and configuration options via command line flags and arguments (ex: include additio

[2016-08-01 18:06] FredKSchott commented on #300
@mbn18 exactly :) Lets change our default behavior to match Node's HTTP agent. @mbn18 any interest in tackling this?

/cc @justinfagnani

[2016-08-01 19:20] FredKSchott commented on #327
Duplicate of #261
See fix in polymer-build library https://github.com/Polymer/polymer-build/pull/16

[2016-08-01 19:20] #327 closed

[2016-08-01 19:21] FredKSchott commented on #261
Fix in PR here: https://github.com/Polymer/polymer-build/pull/16

[2016-08-01 19:53] #307 closed

[2016-08-01 23:39] FredKSchott commented on #307
Fixed in [v0.13.0](https://github.com/Polymer/polymer-cli/releases/tag/v0.13.0)

[2016-08-01 23:39] FredKSchott commented on #305
Fixed in [v0.13.0](https://github.com/Polymer/polymer-cli/releases/tag/v0.13.0)

[2016-08-01 23:39] FredKSchott commented on #297
Fixed in [v0.13.0](https://github.com/Polymer/polymer-cli/releases/tag/v0.13.0)

[2016-08-01 23:40] FredKSchott commented on #268
Fixed in [v0.13.0](https://github.com/Polymer/polymer-cli/releases/tag/v0.13.0)

[2016-08-01 23:40] #268 closed

[2016-08-01 23:40] FredKSchott commented on #297
Fixed in [v0.13.0](https://github.com/Polymer/polymer-cli/releases/tag/v0.13.0)

[2016-08-01 23:40] #297 closed

[2016-08-01 23:40] FredKSchott commented on #219
Fixed in [v0.13.0](https://github.com/Polymer/polymer-cli/releases/tag/v0.13.0)

[2016-08-01 23:40] #219 closed

[2016-08-01 23:40] #305 closed

[2016-08-01 23:43] FredKSchott commented on #290
Thanks for your help @midesweb @locomuco! Sounds like this can be closed, if anyone is still having trouble building please open a new issue.

[2016-08-01 23:43] #290 closed

[2016-08-02 00:10] FredKSchott commented on #192
Fixed back in May

[2016-08-02 00:10] #192 closed

[2016-08-02 00:12] FredKSchott commented on #191
This should be fixed as of the latest version, v0.13.0!

Please update and try again, and create a new issue if this issue is still affecting your system/application.

[2016-08-02 00:12] #191 closed

[2016-08-02 00:16] FredKSchott commented on #180
Aaaaaaaand this has been released in v0.13.0!

Closing this issue now, but we'd love to hear how the newest version is working for you. Please update to the latest version and try it out! If you find a bug, please create a new issue.

For anyone looking for more control over your builds, check out the [polymer-build](https://github.com/Polymer/polymer-build) standalone library that the CLI is now

[2016-08-02 00:16] #180 closed

[2016-08-02 00:17] FredKSchott commented on #153
Now supported by [polymer-build](https://github.com/Polymer/polymer-build)! 🎉

[2016-08-02 00:17] #153 closed

[2016-08-02 00:17] FredKSchott commented on #69
No longer supported, please use [polymer-build](https://github.com/Polymer/polymer-build) for hooking into the build pipeline.

[2016-08-02 00:17] #69 closed

[2016-08-02 00:24] FredKSchott commented on #325
Duplicate of #326

[2016-08-02 00:24] #325 closed

[2016-08-02 00:25] FredKSchott commented on #324
@motss I can't reproduce, can you include more information in your "Steps to Reproduce"?

[2016-08-02 00:31] FredKSchott commented on #314
@jfletcher-nuxeo can you still reproduce after update polymer-cli to latest? We just released a new version of the cli that included a few major fixes to the build pipeline that have hopefully fixed this. If you can still reproduce, can you include a new copy of the error logs so that I can take a look?

Really appreciate your help!

[2016-08-02 00:33] FredKSchott commented on #328
Closing as fixed!

@christophe-g So did build silently fail to include `../../bower_components/polymer/polymer.html`? I agree it would be much more helpful to log an error (or warning) in that case.

[2016-08-02 00:33] #328 closed

[2016-08-02 00:34] FredKSchott commented on #315
Fixed in #316 and released in v0.13.0!

[2016-08-02 00:34] #315 closed

[2016-08-02 00:39] FredKSchott commented on #304
@catiejojo thanks for digging into this and sharing your solution! Glad you were able to get this worked out. Unfortunately our build process is strict about paths since it builds your application by following them. Some better/more informative logging could really help here.

[2016-08-02 00:39] #304 closed

[2016-08-02 00:46] FredKSchott commented on #298
As a work around, I'd recommend running uglify on the service-worker.js file via the command line after each build.

Alternatively, You can now use the [polymer-build](https://github.com/Polymer/polymer-build) library directly to customize your own build stream. You could uglify the service worker after it's written directly in your build task.

We'll leave this issue open as a way to gauge intere

[2016-08-02 00:49] FredKSchott commented on #292
@catiejojo can you still reproduce /w polymer-cli v0.13.0?

[2016-08-02 00:52] FredKSchott commented on #291
@mikael2933 can you include some steps to reproduce? For example does this reproduce it for you?

1. Create new directory
1. `polymer init` & select "app-drawer-template"
1. Add the `<app-route>` code above to `src/my-app.html` under `<app-location route="{{route}}"></app-location>`
1. `polymer build`

[2016-08-02 01:07] FredKSchott opened #333 "--version flag throws an error"
Introduced in v0.13.0

Seems like a perfect storm of problems caused this:

1. Typescript didn't catch that undefined was being returned here, even when the implicit type is added. @justinfagnani is that a special behavior of the Promise type that it thinks it's in a `then()` style Promise chain?
2. Testing was covering the CLI directly, and not checking it's return type or the `/bin` file.

Good

[2016-08-02 01:10] FredKSchott commented on #288
Cannot reproduce in v0.13.0, try updating and let us know if you're still running into this.

[2016-08-02 01:10] #288 closed

[2016-08-02 01:11] FredKSchott commented on #261
Fixed in polymer-build v0.3.2 & polymer-cli v0.13.0!

[2016-08-02 01:35] jay8t6 commented on #292
@FredKSchott I am getting a bunch of warnings (below) when it tries to uglify the code:
SyntaxError: Unexpected token punc «(», expected punc «:»

All of my elements in the project contain es6 code, I run it through crisper after the build completes. Do you think that may be the reason why its having difficulties uglifying the code? Can the element file not contain es6 code?